<aside class="col-sm-2 ">
                <nav class="card">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link nav-item-head" id="indexpage" href="{{ $imports.globalVariable }}/userCenter">账户首页 </a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class=" nav-item-head" href="#">
                        我的事务
                      </a>
                      <div class="dropdown-menu collapse" aria-labelledby="navbarDropdown">
                        <div class="dropdown-content">
                          <a class="dropdown-item nav-link" id="lawyer-loan" href="{{ $imports.globalVariable }}/myLoan">法务贷</a>
                          <a class="dropdown-item nav-link" id="my-cases-nav" href="{{ $imports.globalVariable }}/myCase">我的案件</a>
                        </div>
                      </div>
                      <span class="fa fa-chevron-up right-icon"></span>
                    </li>
                    <li class="nav-item">
                      <a class="nav-item-head" href="#">查询中心</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="dropdown-content">
          
                          <a class="dropdown-item nav-link" href="{{ $imports.globalVariable }}/myReports" id="my-reports">我的报告</a>
                          <a class="dropdown-item nav-link" id="my-bills" href="{{ $imports.globalVariable }}/myBills">账单记录</a>
                        </div>
                      </div>
                      <span class="fa fa-chevron-up right-icon"></span>
                    </li>
                    <li class="nav-item">
                      <a class="nav-item-head" href="#">个人设置</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="dropdown-content">
                          <a class="dropdown-item nav-link" id="my-profile" href="{{ $imports.globalVariable }}/myProfile">资料管理</a>
                          <a class="dropdown-item nav-link" id="my-lawyer" href="{{ $imports.globalVariable }}/mylawyerCetification">律师认证</a>
                          <a class="dropdown-item nav-link" id="message-center" href="{{ $imports.globalVariable }}/messageSystem">消息中心</a>
                        </div>
                      </div>
                      <span class="fa fa-chevron-up right-icon"></span>
                    </li>
                  </ul>
                </nav>
              </aside>