<div class="remodal updateCase-modal" id="updateCase-modal" data-remodal-id="updateCase-modal">
        <div class="remodal-header">
                <div class="login-res-row">
                        <div class="getService-title-btn">更新案件</div>
                        <!-- <a class="login-btn register-title-btn pull-left" href="http://192.168.15.40:8080/cas/register?systemId=4e6f5d00-d023-11e7-a9e1-fb16d651f8ad&service=http://127.0.0.1:8090/cas">注册</a> -->
                </div>
                <button class="remodal-close closeModal" data-remodal-action="close" aria-label="Close"></button>
        </div>
        <div class="remodal-content">
             
                <form id="updateCase-form">
                       
                        <div class="form-group clear">
                                <label for="appellors" class="col-sm-3 control-label">案件名称：</label>
                                <div class="col-sm-9">
                                        <input type="text" class="form-control" name="caseName" id="casename">
                                </div>
                        </div>
                        <div class="form-group clear">
                                <label for="appellors" class="col-sm-3 control-label">案号：</label>
                                <div class="col-sm-9">
                                        <input type="text" class="form-control" name="caseNo" id="caseno" >
                                </div>
                        </div>
                        <div class="form-group clear">
                                <label for="appellors" class="col-sm-3 control-label">受理法院：</label>
                                <div class="col-sm-9">
                                        <div id="reasonslect11" >
                                                        <span class="reaseontext form-control">请选择受理法院</span>
                                                        <div class="error-div"></div>
                                                <div  id="navbar-menu11" style="display:none;">
        
                                                </div>   
                                        </div>
                                </div>
                        </div>
                        <div class="form-group clear">
                                <label for="appellors" class="col-sm-3 control-label">审理进度：</label>
                                <div class="col-sm-9">
                                        <select class="trialRound case-process form-control" name="trialRound">
                                                
                                        </select>
                                </div>
                        </div>
                        <div class="form-group clear">
                                <label for="appellors" class="col-sm-3 control-label">备注：</label>
                                <div class="col-sm-9">
                                        <textarea type="text" class="form-control" name="appellors" rows=4 id="updatemarks"></textarea>
                                </div>
                        </div>
    
                </form>
        <div class="remodal-footer claer">
                <div data-remodal-action="confirm" class="remodal-confirm">提交</div>
                <div data-remodal-action="close" class="remodal-close-btn">取消</div>
        </div>
        </div>
</div>
<script type="text/html" id="case-process-templete">
        {% each data da %}
        <option value="{% da.id %}">{% da.name%}</option>
        {% /each %} 
</script>
<script type="text/html" id="search-court-templete">
        <ul class="reason-ul">
        {% each data da %}
       
        <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle first-val" data-toggle="dropdown" data-id="{% da.id %}" >{% da.name %} <span class="glyphicon glyphicon-menu-right"></span></a>
                {%  if da.children %} 
                
            <ul class="dropdown-menu secondul">
                 <li class="lipostion">
                    <ul>
                                {% each da.children val  %}
                
                                <li class="dropdown">

                                {%  if val.children %}    
                                <a href="javascript:;" class="dropdown-toggle second-val" parent-name="{% da.name  %}" data-id="{% val.id %}" data-toggle="dropdown" >{% val.name %}<span class="glyphicon glyphicon-menu-right"></span></a>
                                {% else %}
                                <a href="javascript:;" class="dropdown-toggle second-val" parent-name="{%  da.name  %}" data-id="{% val.id %}"   data-toggle="dropdown" >{% val.name %}</a>
                                {% /if %}

                                {%  if val.children %} 
                                        <ul class="dropdown-menu thirdul">        
                                                {% each val.children va  %}     
                                        <li>
                                                <a href="javascript:;" parent="{% da.name  %}" parent-name="{%  val.name %}" data-id="{% va.id %}"  class="last-val" >{% va.name %}</a>
                                                
                                        </li>
                                                {% /each %}
                                        
                                        </ul>
                                {% /if %}
                                </li>
                              
                
                         {% /each %}
                        </ul>
                </li>
                 </ul>
                {% /if %}
            </li>

          {% /each %}            
        </ul>

</script>
    