<aside class="col-sm-2 ">
  <nav class="card">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link nav-item-head" id="indexpage" href="{{ $imports.globalVariable }}/lawyerCenter">账户首页 </a>
      </li>
      <li class="nav-item dropdown">
        <a class=" nav-item-head" href="#">
          我的事务
        </a>
        <div class="dropdown-menu collapse" aria-labelledby="navbarDropdown">
          <div class="dropdown-content">
            <a class="dropdown-item nav-link"  href="{{ $imports.globalVariable }}/lawyerLawLoan" id="my-loan">法务贷</a>
            <a class="dropdown-item nav-link"  href="{{ $imports.globalVariable }}/lawyerCases" id="my-cases">我的案件</a>
            <a class="dropdown-item nav-link"  href="{{ $imports.globalVariable }}/lawyerTeam" id="my-team">我的团队</a>
            <a class="dropdown-item nav-link"  href="{{ $imports.globalVariable }}/lawyerAssistant" id="my-assistant">律师助手</a>
          </div>
        </div>
        <span class="fa fa-chevron-up right-icon"></span>
      </li>
      <li class="nav-item">
        <a class="nav-item-head" href="#">查询中心</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="dropdown-content">

            <!-- <a class="dropdown-item nav-link" href="{{ $imports.globalVariable }}/lawyerAssets" id="my-assets">我的财富</a> -->
            <a class="dropdown-item nav-link" href="{{ $imports.globalVariable }}/lawyerBills" id="my-bills">账单记录</a>
          </div>
        </div>
        <span class="fa fa-chevron-up right-icon"></span>
      </li>
      <li class="nav-item">
        <a class="nav-item-head" href="#">个人设置</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="dropdown-content">
            <a class="dropdown-item nav-link"  href="{{ $imports.globalVariable }}/lawyerProfile" id="my-profile">资料管理</a>
            <a class="dropdown-item nav-link"  href="{{ $imports.globalVariable }}/lawyerCetification" id="my-certification">律师认证</a>
            <!-- <a class="dropdown-item nav-link"  href="{{ $imports.globalVariable }}/lawyerDelegation" id="my-delegation">事务委派</a> -->
            <a class="dropdown-item nav-link"  href="{{ $imports.globalVariable }}/lawyerMessage" id="my-message">消息中心</a>
          </div>
        </div>
        <span class="fa fa-chevron-up right-icon"></span>
      </li>
    </ul>
  </nav>
</aside>