/*
* @Author: anchen
* @Date:   2017-06-13 14:52:52
* @Last Modified by:   anchen
* @Last Modified time: 2017-06-22 18:04:27
*/
@import '../../public/css/common.scss';
$font-color: #666;
$secondary-color: #9a9a9a;

$plus-icon-color: #108ee9;
$theme-color: #ed7a39;
$theme-hover-color: #e35c10;
$title-color: #333333;
$white-color: #fff;
$border-color: #eaeaea;

// dimension
$title-size: 24px;
$subtitle-size: 18px;
$content-size: 16px;
//outer
.usercenter {
  background: #f5f5f5;
  .title-bar {
    position: relative;
    .page-title {
      color: $white-color;
      font-weight: bold;
      font-size: $title-size;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
    }
  }
}
//common
h3.title {
  font-weight: bold;
  border-left: 8px solid $theme-color;
  padding-left: 8px;
}
input:focus {
  border: solid 1px $theme-color;
  outline: none;
}
.block {
  padding: 24px;
  border-bottom: solid 1px $border-color;
}
.font-theme {
  color: $theme-color;
}
.primary-btn {
  border: none;
  box-shadow: none;
  color: #fff;
  background: $theme-color;
  padding: 8px 10px;
  border-radius: 3px;
}
.border-btn {
  border: solid 1px $theme-color;
  background: none;
  box-shadow: none;
  color: $theme-color;
  padding: 4px 16px;
  border-radius: 3px;
  &:hover {
    color: #fff;
    background: $theme-color;
  }
}
.ghost-border-btn {
  border: solid 1px $secondary-color;
  background: none;
  box-shadow: none;
  color: $title-color;
  padding: 4px;
  border-radius: 3px;
  &:hover {
    color: $theme-color;
    border: solid 1px $theme-color;
  }
}
.input {
  width: 240px;
  padding: 6px 12px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px $font-color solid;
  margin-right: 8px;
}

.table {
  margin-bottom: 0;
  .headings {
    .column-title {
      padding: 16px;
      background: $border-color;
    }
  }
  td,
  th {
    text-align: center;
    border-right: solid 1px #dfdfdf;
    &:last-child {
      border-right: none;
    }
  }
  .checkbox {
    background: none;
  }
}
aside {
  nav {
    padding: 0;
    background: $white-color;
    position: relative;
    .dropdown-menu {
      min-width: 0;
    }

    .fa-plus-square {
      color: $plus-icon-color;
    }
    .navbar-nav {
      float: none;
      display: flex;
      flex-direction: column;
      .left-icon {
        margin-right: 12px;
      }
      .right-icon {
        position: absolute;
        right: 8%;
        top: 16px;
        color: $font-color;
      }
      .nav-item {
        position: relative;
        .nav-item-head {
          cursor: default;
          border-bottom: solid 1px $border-color;
          padding: 0 !important;
          display: block;
          font-weight: bold;
          font-size: 1.2em;
          color: $title-color;
          height: 48px;
          line-height: 48px;
          text-align: center;
        }
      }
      .nav-link {
        height: 42px;
        text-align: center;
        line-height: 42px;
        padding: 0 !important;
        &:hover {
          background: $theme-color;
          color: $white-color !important;
        }
        &.active {
          background: $theme-color;
          color: $white-color !important;
        }
      }
      .dropdown-menu {
        display: block;
        position: relative;
        border: none;
        width: 100%;
        box-shadow: none;
        .dropdown-content {
          display: flex;
          flex-direction: column;
          .dropdown-item {
            font-weight: 500;
          }
        }
      }
    }
  }
}

.content-container {
  background: $white-color;
  padding: 24px;
  width: 100%;

}

//法物贷 我的案件通用样式
.affairs-template {
  .searchbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
    justify-content: space-between;
    .form-group{
      .control-label{
        padding:5px 0 0 0;
      }
      .col-sm-9 {
        padding:0;
        .col-md-5.form-control {
          width:41.66666667%;
          padding:0;
        }
        span{
          padding:5px;
        }
      }
    }
    p{
      .totalNum {
        color: #ed7a39;
        padding:0 5px;
      }
    }
  }
  .info-bar {
    display: flex;
    font-size: $content-size !important;
    background: #f5f5f5;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
    .left {
      img {
        margin: 0 8px;
      }
      span {
        margin-right: 24px;
      }
    }
    .right {
      display: inline-flex;
      align-items: center;
      width: 240px;
      span {
        width: 80px;
        margin-right: 24px;
      }
    }
  }
}
#starRating .photo span .nohigh,#starRating2 .photo span .nohigh {
  position: absolute;
  width: 32px;
  height: 31px;
  top: 0;
  left: 0;
  background: url("../../assets/image/star.png");
}
#starRating .photo span .high,#starRating2 .photo span .high {
  position: absolute;
  width: 32px;
  height: 31px;
  top: 0;
  left: 0;
  background: url("../../assets/image/star1.png");
}