/*
* @Author: anchen
* @Date:   2017-06-13 14:52:52
* @Last Modified by:   anchen
* @Last Modified time: 2017-06-22 18:04:27
*/
@import '../../public/css/common.scss';
$font-color: #666;
$secondary-color: #9a9a9a;

$plus-icon-color: #108ee9;
$theme-color: #ed7a39;
$theme-hover-color: #e35c10;
$title-color: #333333;
$white-color: #fff;
$border-color: #eaeaea;
$gray-color: #f5f5f5;
$font-gray-color: #999;
// dimension
$title-size: 24px;
$subtitle-size: 18px;
$content-size: 16px;
//outer
.officeCenter {
  background: $gray-color;
  .title-bar {
    position: relative;
    .page-title {
      color: $white-color;
      font-weight: bold;
      font-size: $title-size;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
    }
  }
  .container {
    margin: 32px 0;
    width: 100%;
    .page {

    }
    .pageNow {
      display: inline;
    }
  }
}
.content-container {
  background: $white-color;
  padding: 24px;
  width: 100%;
  .auth-process{
    width: 100%;
    .center{
      width: 460px;
      margin: auto;
      .step{
        background-image: url(../../assets/image/process-line.png);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        width: 145px;
        margin: auto;
        height: 50px;
        float: left;
        position: relative;
        .step-text{
          height: 25px;
          line-height: 25px;
          color: $font-gray-color;
          position: absolute;
          bottom: 0;
          left:0;
          width: 100px;
        }
        &.step-last{
          width: 25px;
        }
        &.step-action{
          background-image: url(../../assets/image/process-active.png);
          .step-text{
            color: $theme-color;
          }
        }
      }
    }
  }
  #my-certification {
    .my-certification-content {
      padding: 0 42px;
      h3 {
        margin-bottom: 42px;
      }
      .footer {
        display: flex;
        justify-content: flex-end;
        button {
          padding: 8px 64px;
        }
      }
      .upload-btn {
        span.fa {
          background: #f2f2f2;
          border: 1px solid $font-gray-color;
          border-radius: 5px;
          font-size: 24px;
          line-height: 58px;
          height: 72px;
          width: 72px;
          text-align: center;
          position: relative;
          &::after {
            content: '上传';
            line-height: 14px;
            font-size: 14px;
            position: absolute;
            bottom: 8px;
            left: 36px;
            transform: translateX(-50%);
          }
        }
        div {
          text-align: center;
        }
      }
      #upload-text-shenfenzheng,#upload-text-zhiyezheng,#upload-text-shenfenzhengBack,#upload-text-zhiyezhengBack{
        width: 0;
        height: 0;
        border: none;
        position: absolute;
        left: 0;
        top: 0;
      }
      .open-agreement{
        color: $theme-color;
        cursor: pointer;
      }
      .form-control[readonly],.form-control[disabled]{
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        background-color: #fff;
        appearance:none;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
      }
    }
  }
}
