<div class="clearfix usercenter">
  <div class="title-bar">
    <img src="dist/assets/image/usercenter_bg.png" alt="" style="width: 100%;">
    <span class="page-title">资料管理</span>
  </div>
  <div class="container">
    <div class="col-sm-1"></div>
    {{ include '../~modal/sliderMenu/main'}}
    <div class="col-sm-8">
      <div class="content-container">
        <div id="my-profile">
          <div class="my-profile-content"></div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>

  <script type="text/html" id="profile-template">
    <h3 class="title">个人资料</h3>
    <form class="form-horizontal" id="profile-form">
      <div class="form-group">
        <label for="realname" class="col-sm-2 control-label">姓名：</label>
        <div class="col-sm-10">
          <input type="resours" class="form-control" name="realname" id="realname" placeholder="请输入" value={% client.realname | convertNull %}></input>
        </div>
      </div>
      <div class="form-group">
        <label for="nickname" class="col-sm-2 control-label">昵称：</label>
        <div class="col-sm-10">
          <input type="area" class="form-control city_input" area-id="1001" id="nickname" name="nickname" placeholder="请输入" value={% client.nickname | convertNull %}></input>
        </div>
      </div>
      <div class="form-group">
        <label for="idcard" class="col-sm-2 control-label">身份证号码：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control " id="idcard" name="idcard" placeholder="请输入" value={% client.idcard | convertNull %}></input>
          <div class="error-div"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="sex" class="col-sm-2 control-label">性别：</label>
        <div class="col-sm-10">
          <select class="form-control" value={% client.sex %} name="sex">
            <option value="0" {% client.sex===0? 'selected':'' %}>男</option>
            <option value="1" {% client.sex===1? 'selected':'' %}>女</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="mobile" class="col-sm-2 control-label">手机号：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control " id="mobile" name="mobile" placeholder="请输入" value={% client.mobile | convertNull  %}></input>
          <div class="error-div"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">邮箱：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control " id="email"  name="email" placeholder="请输入" value={% client.email  | convertNull  %}></input>
          <div class="error-div"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="education" class="col-sm-2 control-label">最高学历：</label>
        <div class="col-sm-10">
          <select class="form-control" value={% client.education %} name="education" >
            <option value="0" {% client.education=== 0? 'selected':'' %}>初中及以下</option>
            <option value="1" {% client.education===1? 'selected':'' %}>高中</option>
            <option value="2" {% client.education===2? 'selected':'' %}>中技</option>
            <option value="3" {% client.education===3? 'selected':'' %}>中专</option>
            <option value="4" {% client.education===4? 'selected':'' %}>大专</option>
            <option value="5" {% client.education===5? 'selected':'' %}>本科</option>
            <option value="6" {% client.education===6? 'selected':'' %}>硕士</option>
            <option value="7" {% client.education===7? 'selected':'' %}>博士</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="school" class="col-sm-2 control-label" value={% client.school  | convertNull %}>毕业院校：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control " id="school" name="school" rows="5" placeholder="请输入"></input>
        </div>
      </div>
      <div class="form-group">
        <label for="isMarried" class="col-sm-2 control-label">婚姻状况：</label>
        <div class="col-sm-10">
          <select class="form-control" name="isMarried" value="{% client.isMarried? client.isMarried:'' %}" >
            <option value="0" {% client.isMarried===0? 'selected':'' %}>未婚</option>
            <option value="1" {% client.isMarried===1? 'selected':'' %}>已婚</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="address" class="col-sm-2 control-label">居住地址：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control " id="address"  name="address" rows="5" placeholder="请输入" value={% client.address | convertNull %}>
          </input>
        </div>
      </div>
      <div class="form-group">
        <label for="bankNo" class="col-sm-2 control-label">银行帐号：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control " id="bankNo" name="bankNo" rows="5" placeholder="请输入" value={% client.bankNo  | convertNull %}>
          </input>
        </div>
      </div>
      <h3 class="title">公司资料</h3>
      <div class="form-group">
        <label for="companyName" class="col-sm-2 control-label">公司名称：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control " id="companyName" name="companyName" placeholder="请输入" value={% client.companyName  | convertNull %}></input>
        </div>
      </div>
      <div class="form-group">
        <label for="companyTaxNumber" class="col-sm-2 control-label">公司税号：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control " id="companyTaxNumber" name="companyTaxNumber" placeholder="请输入" value={% client.companyTaxNumber  | convertNull %}></input>
        </div>
      </div>
      <div class="form-group">
        <label for="companyAddress" class="col-sm-2 control-label">公司地址：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control " id="companyAddress" name="companyAddress" placeholder="请输入" value={% client.companyAddress  | convertNull %}></input>
        </div>
      </div>
      <div class="form-group">
        <label for="companyTelphone" class="col-sm-2 control-label">公司电话：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control " id="companyTelphone" name="companyTelphone" placeholder="请输入" value={% client.companyTelphone  | convertNull %}></input>
        </div>
      </div>
      <div class="form-group">
        <label for="companyBankDeposit" class="col-sm-2 control-label">开户银行：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control " id="companyBankDeposit" name="companyBankDeposit" placeholder="请输入" value={% client.companyBankDeposit  | convertNull %}></input>
        </div>
      </div>
      <div class="form-group">
        <label for="companyBankNo" class="col-sm-2 control-label">银行账号：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control " id="companyBankNo" name="companyBankNo" placeholder="请输入" value={% client.companyBankNo  | convertNull %}></input>
        </div>
      </div>
    </form>
    <div class="footer">
      <button class="primary-btn " id="submit-btn">提交</button>
    </div>
  </script>