/*
* @Author: anchen
* @Date:   2017-06-13 14:52:52
* @Last Modified by:   anchen
* @Last Modified time: 2017-06-22 18:04:27
*/
#starRating .photo span .nohigh,#starRating2 .photo span .nohigh {
  position: absolute;
  width: 32px;
  height: 31px;
  top: 0;
  left: 0;
  background: url("../../assets/image/star.png");
}
#starRating .photo span .high,#starRating2 .photo span .high {
  position: absolute;
  width: 32px;
  height: 31px;
  top: 0;
  left: 0;
  background: url("../../assets/image/star1.png");
}