<div class="clearfix usercenter">
  <div class="title-bar">
    <img src="dist/assets/image/usercenter_bg.png" alt="" style="width: 100%;">
    <span class="page-title">个人中心</span>
  </div>
  <div class="container">
    <div class="col-sm-1"></div>
    <aside class="col-sm-2 ">
      <nav class="card">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link nav-item-head active" id="indexpage" href="#">账户首页 </a>
          </li>
          <li class="nav-item dropdown">
            <a class=" nav-item-head" href="#">
              我的事务
            </a>
            <div class="dropdown-menu collapse" aria-labelledby="navbarDropdown">
              <div class="dropdown-content">
                <a class="dropdown-item nav-link" id="lawyer-loan" href="#">法务贷</a>
                <a class="dropdown-item nav-link" id="my-cases" href="#">我的案件</a>
              </div>
            </div>
            <span class="fa fa-chevron-up right-icon"></span>
          </li>
          <li class="nav-item">
            <a class="nav-item-head" href="#">查询中心</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="dropdown-content">

                <a class="dropdown-item nav-link" href="#" id="my-reports">我的报告</a>
                <a class="dropdown-item nav-link" id="my-bills" href="#">账单记录</a>
              </div>
            </div>
            <span class="fa fa-chevron-up right-icon"></span>
          </li>
          <li class="nav-item">
            <a class="nav-item-head" href="#">个人设置</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="dropdown-content">
                <a class="dropdown-item nav-link" id="my-profile" href="#">资料管理</a>
                <a class="dropdown-item nav-link" href="#">律师认证</a>
                <a class="dropdown-item nav-link" id="message-center" href="#">消息中心</a>
              </div>
            </div>
            <span class="fa fa-chevron-up right-icon"></span>
          </li>
        </ul>
      </nav>
    </aside>
    <div class="col-sm-8">
      <div class="content-container">
        <div class="page pageNow" id="indexpage">
          <div class="user-info block clearfix">
            <!-- userinfo-template -->
          </div>
          <div class="applications block clearfix">
            <!-- application-template -->
          </div>
          <div class="affairs block clearfix">
            <h3 class="title">历史事务</h3>
            <div class="header">
              <span>法务贷</span>
              <span>我的案件</span>
              <span>还款日</span>
            </div>
            <div id='calendar'></div>
          </div>
        </div>
        <div class="page " id="my-reports">
          <div class="reports-content">
            <!-- report-template -->
          </div>
        </div>
        <div class="page" id="lawyer-loan">
          <div class="lawyer-loan-content affairs-template">
              <div class="searchbar">
                  <div class="col-md-3">
                    <p>共搜索到<span class="totalNum"></span>条数据</p>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                          <label  class="col-sm-3 control-label">查询时间：</label>
                          <div class="col-sm-9 ">
                                  <input id="start-date-loan" class="col-md-5 form-control " type="text" readonly><span class="pull-left">-</span>
                                  <input id="end-date-loan" class="col-md-5 form-control" type="text" readonly>
                          </div>
                       </div>
                  </div>
                  <div class="col-md-5">
                    <input type="text" class="input" placeholder="请输入关键词"></input>
                    <button class="primary-btn">搜索</button>
                    <button class="primary-btn">申请法务贷</button>
                  </div>
                </div>
                <div class="my-loan-box">

                </div>
                <div class="page-row clear">
                    <div class="pager pull-right">
                            
                    </div>
                 </div>  
            <!-- lawyer-loan-template -->
          </div>
        </div>
        <div class="page" id="my-cases">
          <div class="my-cases-content affairs-template">
              <div class="searchbar">
                  <div class="col-md-3">
                    <p>共搜索到<span class="totalNum"></span>条数据</p>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                          <label  class="col-sm-3 control-label">查询时间：</label>
                          <div class="col-sm-9 ">
                                  <input id="start-date" class="col-md-5 form-control " type="text" readonly><span class="pull-left">-</span>
                                  <input id="end-date"  class="col-md-5 form-control" type="text" readonly>
                          </div>
                       </div>
                  </div>
                  <div class="col-md-5">
                    <input type="text" class="input" placeholder="请输入关键词"></input>
                    <button class="primary-btn">搜索</button>
                    <button class="primary-btn">申请法务贷</button>
                  </div>
                </div>
            <!-- my-cases-template -->
            <div class="my-cases-box">
              
            </div>
            <div class="page-row clear">
                <div class="pager pull-right">
                        
                </div>
             </div>  
          </div>
        </div>
        <div class="page" id="my-bills">
          <div class="my-bills-content affairs-template">
            <!-- my-cases-template -->
          </div>
        </div>
        <div class="page " id="my-profile">
          <div class="my-profile-content">
            <h3 class="title">个人资料</h3>
            <form class="form-horizontal" id="recommend-form">
              <div class="form-group">
                <label for="name" class="col-sm-2 control-label">姓名：</label>
                <div class="col-sm-10">
                  <input type="resours" class="form-control" id="caseresours" placeholder="请输入">
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">昵称：</label>
                <div class="col-sm-10">
                  <input type="area" class="form-control city_input" area-id="1001" id="area-select" placeholder="请输入">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">身份证号码：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control " id="inputPassword3" placeholder="请输入">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">性别：</label>
                <div class="col-sm-10">
                  <select class="form-control">
                    <option>男</option>
                    <option>女</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">手机号：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control " id="inputPassword3" placeholder="请输入">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">邮箱：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control " id="inputPassword3" placeholder="请输入">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">最高学历：</label>
                <div class="col-sm-10">
                  <select class="form-control">
                    <option>初中及以下</option>
                    <option>高中</option>
                    <option>中技</option>
                    <option>中专</option>
                    <option>大专</option>
                    <option>本科</option>
                    <option>硕士</option>
                    <option>博士</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">毕业院校：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control " id="inputPassword3" rows="5" placeholder="请输入">
                  </textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">婚姻状况：</label>
                <div class="col-sm-10">
                  <select class="form-control">
                    <option>未婚</option>
                    <option>已婚</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">居住地址：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control " id="inputPassword3" rows="5" placeholder="请输入">
                  </input>
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">银行帐号：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control " id="inputPassword3" rows="5" placeholder="请输入">
                  </input>
                </div>
              </div>
              <h3 class="title">公司资料</h3>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">公司名称：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control " id="inputPassword3" placeholder="请输入">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">公司税号：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control " id="inputPassword3" placeholder="请输入">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">公司地址：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control " id="inputPassword3" placeholder="请输入">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">公司电话：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control " id="inputPassword3" placeholder="请输入">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">开户银行：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control " id="inputPassword3" placeholder="请输入">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">银行账号：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control " id="inputPassword3" placeholder="请输入">
                </div>
              </div>
              <div class="footer">
                <button class="primary-btn">提交</button>
              </div>
            </form>
          </div>
        </div>
        <div class="page" id="message-center">
          <div class="message-center-content">
            <div class="tab">
              <input id="tab1" type="radio" name="tabs" checked>
              <label for="tab1">系统消息</label>

              <input id="tab2" type="radio" name="tabs">
              <label for="tab2">个人消息</label>

              <input id="tab3" type="radio" name="tabs">
              <label for="tab3">通讯录</label>


              <section id="content1" class="system-messages">
                <!-- system-messages-template -->
              </section>

              <section id="content2" class="personal-messages">
                <!-- personal-messages-template -->
              </section>

              <section id="content3" class="contacts">
                <!-- contacts-template -->
              </section>

              </main>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
<script type="text/html" id="userinfo-template">
  <div class="col-sm-2 avatar-block">
    <img src="dist/assets/image/usercenter_avatar.png" id="avatar" alt="">
    <div class="btn-group">
      <button id="update-avatar">修改头像</button>
      <button id="update-psw">修改密码</button>
    </div>
  </div>
  <div class="col-sm-8 user-info-block">
    <h4>下午好，<span>{% user.name %}</span>!尽情享受下午宁静的时光吧！</h4>
    <p>账号:{% user.user %} | 注册时间:{% user.created %}</p>
  </div>
  <div class="col-sm-2">
    <button id="discuss-btn"></button>
    <button id="headphone-btn"></button>
  </div>
</script>
<script type="text/html" id="application-template">
  <h3 class="title">最近申请</h3>
  <div class="col-sm-4">
    <span>申请项目：</span>{% application.project%}
  </div>
  <div class="col-sm-4">
    <span>委托律师：</span>{% application.laywer %}
  </div>
  <div class="col-sm-4">
    <span>联系方式：</span>{% application.contact %}
  </div>
  <div class="col-sm-4">
    <span>费用：</span>{% application.bill %}
  </div>
  <div class="col-sm-4">
    <span>订单时间：</span>{% application.time %}
  </div>
  <div class="col-sm-4">
    <span>所属律所：</span>{% application.office %}
  </div>
  <div class="col-sm-12">
    <span>描述：</span>{% application.decription %}
  </div>
</script>

<script type="text/html" id="lawyer-loan-template">

  <div class="info-bar">
    <div class="left">
      <img src="dist/assets/image/usercenter_icon_exclamation.png" alt=""></img>
      <span>
        已选择 <span class="loan-items-counts font-theme">2</span>项
      </span>
      <span>
        总计
        <strong class="loan-amount font-theme">1000000</strong>
        元
      </span>
    </div>
    <div class="right">
      <span>
        状态：
      </span>
      <select class="form-control">
        <option>全部</option>
      </select>  
    </div>
  </div>
  <div class="table-responsive table-bordered table-hover">
      <table class="table table-striped jambo_table bulk_action">
        <thead>
          <tr class="headings">
            <th class="column-title">
              
            </th>
            <th class="column-title">订单编号 </th>
            <th class="column-title">贷款金额 </th>
            <th class="column-title">委托律师 </th>
            <th class="column-title">联系电话 </th>
            <th class="column-title">状态 </th>
            <th class="column-title">订单时间 </th>
            <th class="column-title"><span class="nobr">操作</span>
            </th>
          </tr>
        </thead>

        <tbody>
          {% each bills  data%}
            <tr class="even pointer">
              <td class="a-center ">
                <input type="checkbox" class="flat checkbox" name="table_records">
              </td>
              <td class=" column-content">{%data.no%}</td>
              <td class="column-content ">{%data.amount%} </td>
              <td class=" column-content">{%data.lawyer%} </td>
              <td class=" column-content">{%data.phone%}</td>
              <td class=" column-content">{% data.state%}</td>
              <td class="a-right a-right ">{% data.time %}</td>
              <td class=" last">
                <a href="#">详情 </a>
                <a href="#">下载 </a>
                <a href="#">更多</a>
                <span class="fa fa-chevron-down"></span>
              </td>
            </tr>

          {% /each %}

        </tbody>
      </table>
    </div>
  
<!-- <script type="text/html" id="report-template">
  <div>12433</div> -->
  <!-- <div class="searchbar">
    <p>共搜索到<span class="totalNum">{% reports.count %}</span>条数据</p>
    <div>
      <input type="text" class="input" placeholder="请输入关键词"></input>
      <button class="primary-btn">搜索</button>
    </div>
  </div>
  <div class="content">
    {% each reports.cases  data %}
    <div class="content-item">
      <div class="case-title">{% data.title %}</div>
      <div class="case-content">{% data.content %}</div>
      <div class="case-time">{% data.created %}</div>
    </div>
    {% /each %}
  </div>
  <div class="pagination">
    <span>共{% reports.pages %}页，当前第<span id="current-page">1</span>页</span>
    <button class="prev ghost-border-btn ">上一页</button>
    <button class="next ghost-border-btn ">下一页</button>
    <input class=".input" type="text"></input>
    <button class="jumpto border-btn">跳转</button>
  </div> -->
<!-- </script> -->

<script type="text/html" id="my-cases-template">

  <div class="info-bar">
    <div class="left">
      <img src="dist/assets/image/usercenter_icon_exclamation.png" alt=""></img>
      <span>
        已选择 <span class="loan-items-counts font-theme">2</span>项
      </span>
      <span>
        总计
        <strong class="loan-amount font-theme">1000000</strong>
        元
      </span>
    </div>
    <div class="right">
      <span>
        状态：
      </span>
      <select class="form-control">
        <option>全部</option>
      </select>  
    </div>
  </div>
  <div class="table-responsive table-bordered table-hover">
      <table class="table table-striped jambo_table bulk_action">
        <thead>
          <tr class="headings">
            <th class="column-title">
              
            </th>
            <th class="column-title">订单编号 </th>
            <th class="column-title">案件名称 </th>
            <th class="column-title">律师费</th>
            <th class="column-title">代理律师 </th>
            <th class="column-title">联系电话 </th>
            <th class="column-title">状态 </th>
            <th class="column-title">订单时间 </th>
            <th class="column-title"><span class="nobr">操作</span>
            </th>
          </tr>
        </thead>

        <tbody>
          {% each list  data%}
            <tr class="even pointer">
              <td class="a-center ">
                <input type="checkbox" class="flat checkbox" name="table_records" dataid="{%data.orderSn%}">
              </td>
              <td class=" column-content">{%data.orderSn%}</td>
              <td class="column-content ">{%data.caseName%} </td>
              <td class="column-content ">{%data.lawyerPrice%} </td>
              <td class=" column-content">{%data.lawyerName%} </td>
              <td class=" column-content">{%data.lawyerMobile%}</td>
              <td class=" column-content">{% data.trialRound%}</td>
              <td class="a-right a-right ">{% data.createTime | dateFormat 'yyyy'%}-{% data.createTime | dateFormat 'MM'%}-{% data.createTime | dateFormat 'dd'%}</td>
              <td class=" last">
                <a href="#">详情 </a>
                <a href="#">下载 </a>
                <a href="#">更多</a>
                <span class="fa fa-chevron-down"></span>
              </td>
            </tr>

          {% /each %} 

        </tbody>
      </table>
    </div>
  
  </div>
</script>

<script type="text/html" id="my-bills-template">
  <div class="searchbar">
    <p>共搜索到<span class="totalNum">{% loans.count %}</span>条数据</p>
    <div>
      <input type="text" class="input" placeholder="请输入关键词"></input>
      <button class="primary-btn">搜索</button>
      <button class="primary-btn">申请法务贷</button>
    </div>
  </div>
  <div class="info-bar">
    <div class="left">
      <img src="dist/assets/image/usercenter_icon_exclamation.png" alt=""></img>
      <span>
        已选择 <span class="loan-items-counts font-theme">2</span>项
      </span>
      <span>
        总计
        <strong class="loan-amount font-theme">1000000</strong>
        元
      </span>
    </div>
    <div class="right">
      <span>
        状态：
      </span>
      <select class="form-control">
        <option>全部</option>
      </select>  
    </div>
  </div>
  <div class="table-responsive table-bordered table-hover">
      <table class="table table-striped jambo_table bulk_action">
        <thead>
          <tr class="headings">
            <th class="column-title">
              
            </th>
            <th class="column-title">订单编号 </th>
            <th class="column-title">事务名称 </th>
            <th class="column-title">银行贷款</th>
            <th class="column-title">服务费 </th>
            <th class="column-title">状态 </th>
            <th class="column-title">订单时间 </th>
            <th class="column-title"><span class="nobr">操作</span>
            </th>
          </tr>
        </thead>

        <tbody>
          {% each bills  data%}
            <tr class="even pointer">
              <td class="a-center ">
                <input type="checkbox" class="flat checkbox" name="table_records">
              </td>
              <td class=" column-content">{%data.no%}</td>
              <td class="column-content ">{%data.name%} </td>
              <td class="column-content ">{%data.loan%} </td>
              <td class=" column-content">{%data.servicefee%} </td>
              <td class=" column-content">{% data.state%}</td>
              <td class="a-right a-right ">{% data.time %}</td>
              <td class=" last">
                <a href="#">更多</a>
                <span class="fa fa-chevron-down"></span>
              </td>
            </tr>

          {% /each %}

        </tbody>
      </table>
    </div>
    <div class="table-footer clearfix">
      <strong>
        合计 银行贷款：
        <span class="font-theme"> 36320.0</span>
        服务费：
        <span  class="font-theme">269561.0</span>
      </strong>
    </div>
  <div class="pagination">
    <span>共{% loans.pages %}页，当前第<span id="current-page">1</span>页</span>
    <button class="prev ghost-border-btn ">上一页</button>
    <button class="next ghost-border-btn ">下一页</button>
    <input type="text"></input>
    <button class="jumpto border-btn">跳转</button>
  </div>
</script>

<!-- message-center -->
<script type="text/html" id="system-messages-template">
  <div class="subtab message-center-template">
    <input class="subtab1" id="system-tab1" type="radio" name="system-subtabs" checked>
    <label for="system-tab1" class="label-left">全部</label>
  
    <input class="subtab2" id="system-tab2" type="radio" name="system-subtabs">
    <label for="system-tab2" class="label-right">未读</label>
    <span class="setReaded">全部设为已读</span>
    <section id="content1">
      {% each messages  data%}
      <div class="messages-item">
        <span class="message-title"><img src="dist/assets/image/usercenter_icon_bell.png" alt="">{%data.name%}</span>
        <span class="aside-bar">
          <span class="time">{%data.time%}</span>
          <span class="actions">     
            <a href="#">查看</a>
            <a href="#">更多<span class="fa fa-chevron-down"></span></a>
          </span>
          </span>
      </div>
      {% /each %}
    </section>
    <section  id="content2">
        {% each readedMessages  data%}
        <div class="messages-item">
          <span class="message-title"><img src="dist/assets/image/usercenter_icon_bell.png" alt="">{%data.name%}</span>
          <span class="aside-bar">
            <span class="time">{%data.time%}</span>
            <span class="actions">     
              <a href="#">查看</a>
              <a href="#">更多<span class="fa fa-chevron-down"></span></a>
            </span>
            </span>
        </div>
        {% /each %}
    </section>
  </div>
  <div class="pagination">
    <span>共{% loans.pages %}页，当前第<span id="current-page">1</span>页</span>
    <button class="prev ghost-border-btn ">上一页</button>
    <button class="next ghost-border-btn ">下一页</button>
    <input type="text"></input>
    <button class="jumpto border-btn">跳转</button>
  </div>
</script>
<script type="text/html" id="personal-messages-template">
  <div class="subtab message-center-template">
    <input class="subtab1" id="personal-tab1" type="radio" name="personal-subtabs" checked>
    <label for="personal-tab1" class="label-left">全部</label>
  
    <input class="subtab2" id="personal-tab2" type="radio" name="personal-subtabs">
    <label for="personal-tab2" class="label-right">未读</label>
    <span class="setReaded">全部设为已读</span>
    <section id="content1">
      {% each messages  data%}
      <div class="messages-item">
        <span class="message-title"><img src="dist/assets/image/usercenter_icon_bell.png" alt="">{%data.name%}</span>
        <span class="aside-bar">
          <span class="time">{%data.time%}</span>
          <span class="actions">     
            <a href="#">查看</a>
            <a href="#">更多<span class="fa fa-chevron-down"></span></a>
          </span>
          </span>
      </div>
      {% /each %}
    </section>
    <section  id="content2">
        {% each readedMessages  data%}
        <div class="messages-item">
          <span class="message-title"><img src="dist/assets/image/usercenter_icon_bell.png" alt="">{%data.name%}</span>
          <span class="aside-bar">
            <span class="time">{%data.time%}</span>
            <span class="actions">     
              <a href="#">查看</a>
              <a href="#">更多<span class="fa fa-chevron-down"></span></a>
            </span>
            </span>
        </div>
        {% /each %}
    </section>
  </div>
  
  <div class="pagination">
    <span>共{% loans.pages %}页，当前第<span id="current-page">1</span>页</span>
    <button class="prev ghost-border-btn ">上一页</button>
    <button class="next ghost-border-btn ">下一页</button>
    <input type="text"></input>
    <button class="jumpto border-btn">跳转</button>
  </div>
</script>
<script type="text/html" id="contacts-template">
  <div class="subtab message-center-template">
    <div >
      {% each messages  data%}
      <div class="messages-item">
        <span class="message-title"><img src="dist/assets/image/usercenter_icon_person.png" alt="">{%data.name%}</span>
        <span class="aside-bar">
          <span class="time">{%data.time%}</span>
          <span class="actions">     
            <a href="#">消息</a>
            <a href="#">更多<span class="fa fa-chevron-down"></span></a>
          </span>
          </span>
      </div>
      {% /each %}
    </div>
  </div>
  
  <div class="pagination">
    <span>共{% loans.pages %}页，当前第<span id="current-page">1</span>页</span>
    <button class="prev ghost-border-btn ">上一页</button>
    <button class="next ghost-border-btn ">下一页</button>
    <input type="text"></input>
    <button class="jumpto border-btn">跳转</button>
  </div>
</script>
<!-- message-center -->