<div class="clearfix usercenter">
  <div class="title-bar">
    <img src="dist/assets/image/usercenter_bg.png" alt="" style="width: 100%;">
    <span class="page-title">个人中心</span>
  </div>
  <div class="container">
    <div class="col-sm-1"></div>
    {{ include '../~modal/sliderMenu/main'}}
    <div class="col-sm-8">
      <div class="content-container">
        <div class="page pageNow" id="indexpage">
          <div class="user-info block clearfix">
            <!-- userinfo-template -->
          </div>
          <div class="applications block clearfix">
            <!-- application-template -->
          </div>
          <div class="affairs block clearfix">
            <h3 class="title">历史事务</h3>
            <div class="header">
              <span>法务贷</span>
              <span>我的案件</span>
              <span>还款日</span>
            </div>
            <div id='calendar'></div>
          </div>
        </div>

              </main>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
<script type="text/html" id="userinfo-template">
  <div class="col-sm-2 avatar-block">
    <img src="dist/assets/image/usercenter_avatar.png" id="avatar" alt="">
    <div class="btn-group">
      <button id="update-avatar">修改头像</button>
      <button id="update-psw">修改密码</button>
    </div>
  </div>
  <div class="col-sm-8 user-info-block">
    <h4>下午好，<span>{% user.name %}</span>!尽情享受下午宁静的时光吧！</h4>
    <p>账号:{% user.user %} | 注册时间:{% user.created %}</p>
  </div>
  <div class="col-sm-2">
    <button id="discuss-btn"></button>
    <button id="headphone-btn"></button>
  </div>
</script>
<script type="text/html" id="application-template">
  <h3 class="title">最近申请</h3>
  <div class="col-sm-4">
    <span>申请项目：</span>{% application.project%}
  </div>
  <div class="col-sm-4">
    <span>委托律师：</span>{% application.laywer %}
  </div>
  <div class="col-sm-4">
    <span>联系方式：</span>{% application.contact %}
  </div>
  <div class="col-sm-4">
    <span>费用：</span>{% application.bill %}
  </div>
  <div class="col-sm-4">
    <span>订单时间：</span>{% application.time %}
  </div>
  <div class="col-sm-4">
    <span>所属律所：</span>{% application.office %}
  </div>
  <div class="col-sm-12">
    <span>描述：</span>{% application.decription %}
  </div>
</script>
