/*
* @Author: anchen
* @Date:   2017-06-13 14:52:52
* @Last Modified by:   anchen
* @Last Modified time: 2017-06-22 18:04:27
*/
@import '../../public/css/common.scss';
$font-color: #666;
$secondary-color: #9a9a9a;

$plus-icon-color: #108ee9;
$theme-color: #ed7a39;
$theme-hover-color: #e35c10;
$title-color: #333333;
$white-color: #fff;
$border-color: #eaeaea;

// dimension
$title-size: 24px;
$subtitle-size: 18px;
$content-size: 16px;
//outer
.usercenter {
  background: #f5f5f5;
  .title-bar {
    position: relative;
    .page-title {
      color: $white-color;
      font-weight: bold;
      font-size: $title-size;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
    }
  }
  .container {
    margin: 32px 0;
    width: 100%;
    .page {
      display: none;
    }
    .pageNow {
      display: inline;
    }
  }
}
//common
h3.title {
  font-weight: bold;
  border-left: 8px solid $theme-color;
  padding-left: 8px;
}
input:focus {
  border: solid 1px $theme-color;
  outline: none;
}
.block {
  padding: 24px;
  border-bottom: solid 1px $border-color;
}
.font-theme {
  color: $theme-color;
}
.primary-btn {
  border: none;
  box-shadow: none;
  color: #fff;
  background: $theme-color;
  padding: 8px 10px;
  border-radius: 3px;
}
.border-btn {
  border: solid 1px $theme-color;
  background: none;
  box-shadow: none;
  color: $theme-color;
  padding: 4px 16px;
  border-radius: 3px;
  &:hover {
    color: #fff;
    background: $theme-color;
  }
}
.ghost-border-btn {
  border: solid 1px $secondary-color;
  background: none;
  box-shadow: none;
  color: $title-color;
  padding: 4px;
  border-radius: 3px;
  &:hover {
    color: $theme-color;
    border: solid 1px $theme-color;
  }
}
.input {
  width: 260px;
  padding: 6px 12px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px $font-color solid;
  margin-right: 8px;
}
.pagination {
  padding-top: 32px;
  float: right;
  input {
    width: 48px;
    padding: 4px;
    border-radius: 3px;
    border: 1px solid $secondary-color;
    margin: 0 8px;
  }
}
.table {
  margin-bottom: 0;
  .headings {
    .column-title {
      padding: 16px;
      background: $border-color;
    }
  }
  td,
  th {
    text-align: center;
    border-right: solid 1px #dfdfdf;
    &:last-child {
      border-right: none;
    }
  }
  .checkbox {
    background: none;
  }
}
aside {
  nav {
    padding: 0;
    background: $white-color;
    position: relative;
    .dropdown-menu {
      min-width: 0;
    }

    .fa-plus-square {
      color: $plus-icon-color;
    }
    .navbar-nav {
      float: none;
      display: flex;
      flex-direction: column;
      .left-icon {
        margin-right: 12px;
      }
      .right-icon {
        position: absolute;
        right: 8%;
        top: 16px;
        color: $font-color;
      }
      .nav-item {
        position: relative;
        .nav-item-head {
          cursor: default;
          border-bottom: solid 1px $border-color;
          padding: 0 !important;
          display: block;
          font-weight: bold;
          font-size: 1.2em;
          color: $title-color;
          height: 48px;
          line-height: 48px;
          text-align: center;
        }
      }
      .nav-link {
        height: 42px;
        text-align: center;
        line-height: 42px;
        padding: 0 !important;
        &:hover {
          background: $theme-color;
          color: $white-color !important;
        }
        &.active {
          background: $theme-color;
          color: $white-color !important;
        }
      }
      .dropdown-menu {
        display: block;
        position: relative;
        border: none;
        width: 100%;
        box-shadow: none;
        .dropdown-content {
          display: flex;
          flex-direction: column;
          .dropdown-item {
            font-weight: 500;
          }
        }
      }
    }
  }
}
.content-container {
  background: $white-color;
  padding: 24px;
  width: 100%;
  #indexpage {
    .user-info {
      .avatar-block {
        text-align: center;
        #avatar {
          width: 112px;
          height: 112px;
        }
        .btn-group {
          display: flex;
          margin-top: 12px;
          justify-content: space-between;
          button {
            color: $theme-color;
            background: none;
            width: 64px;
            height: 24px;
            border-radius: 3px;
            border: 1.5px solid $theme-color;
          }
        }
      }
      .user-info-block {
        padding: 24px 0 24px 12px;
        h4 {
          span {
            color: $theme-color;
            font-size: 18px;
          }
        }
        p {
          color: $secondary-color;
          font-size: 16px;
        }
      }
      button {
        width: 42px;
        height: 42px;
        border: none;
      }
      button#discuss-btn {
        background: url('../../assets/image/usercenter_icon2.png');
      }
      button#headphone-btn {
        background: url('../../assets/image/usercenter_icon3.png');
        margin-left: 12px;
      }
    }
    .applications {
      div {
        margin: 8px 0;
        span {
          color: $secondary-color;
        }
      }
    }
    .affairs {
      .header {
        margin: 24px 0;
        span {
          margin-right: 52px;
          padding-left: 50px;
          line-height: 24px;
          position: relative;
          &::before {
            width: 40px;
            height: 22px;
            position: absolute;
            top: 0;
            left: 0;
            content: '';
          }
          &:nth-child(1)::before {
            background: #35a9ce;
          }
          &:nth-child(2)::before {
            background: #fe99ff;
          }
          &:nth-child(3)::before {
            background: #66cc9a;
          }
        }
      }
      #calendar {
        .fc-day-header {
          padding: 8px;
          background: $border-color;
        }
      }
    }
  }
  #my-reports {
    .reports-content {
      .searchbar {
        display: flex;
        align-items: center;
        padding: 12px 0;
        justify-content: space-between;
        border-bottom: 1px solid $border-color;
        p {
          font-size: 16px;
          span {
            color: #ed7a39;
            padding:0 5px;
          }
        }
      }
      .content {
        .content-item {
          border-bottom: solid 1px $border-color;
          &:last-child {
            border-bottom: none;
          }
          .case-title {
            font-weight: bold;
            font-size: $subtitle-size;
            padding: 20px 0;
          }
          .case-content {
            margin-bottom: 12px;
            font-size: $content-size;
          }
          .case-time {
            color: $secondary-color;
          }
        }
      }
    }
  }
  #my-bills {
    .my-bills-content {
      .table-footer {
        strong {
          float: right;
          font-size: 1.1em;
          span {
            font-size: 1.1em;
          }
        }
        text-align: right;
        padding: 32px 0;
      }
    }
  }
  #my-profile {
    .my-profile-content {
      h3 {
        margin-bottom: 36px;
      }
      .footer {
        display: flex;
        justify-content: flex-end;
        button {
          padding: 8px 64px;
        }
      }
    }
  }
  #message-center {
  }
}

//法物贷 我的案件通用样式
.affairs-template {
  .searchbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
    justify-content: space-between;
    .form-group{
      .control-label{
        padding:5px 0 0 0;
      }
      .col-sm-9 {
        padding:0;
        .col-md-5.form-control {
          width:41.66666667%;
          padding:0;
        }
        span{
          padding:5px;
        }
      }
    }
    p{
      .totalNum {
        color: #ed7a39;
        padding:0 5px;
      }
    }
  }
  .info-bar {
    display: flex;
    font-size: $content-size !important;
    background: #f5f5f5;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
    .left {
      img {
        margin: 0 8px;
      }
      span {
        margin-right: 24px;
      }
    }
    .right {
      display: inline-flex;
      align-items: center;
      width: 240px;
      span {
        width: 80px;
        margin-right: 24px;
      }
    }
  }
}
//消息中心通用样式
.message-center-template {
  text-align: center;
  .setReaded {
    float: right;
    padding-top: 12px;
    cursor: pointer;
    &:hover {
      color: $theme-color;
    }
  }
  .messages-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    &:nth-child(2n + 1) {
      background: #f6f6f6;
    }
    .message-title {
      font-size: $content-size;
      img {
        margin-right: 12px;
      }
    }
    .aside-bar {
      .time {
        color: $secondary-color;
        margin-right: 42px;
      }
      .actions {
        a {
          color: #149cd3;
          margin: 0 8px;
          &:hover {
            color: $theme-color;
          }
        }
      }
    }
  }
}
//tab 通用样式
.tab {
  & > section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
  }

  & > input {
    display: none;
  }

  & > label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 34px;
    font-size: $subtitle-size;
    font-weight: 700;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
  }

  & > label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
  }

  & > label:hover {
    color: #888;
    cursor: pointer;
  }

  & > input:checked + label {
    color: #555;
    border-bottom: 2px solid $theme-color;
  }

  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3,
  #tab4:checked ~ #content4 {
    display: block;
  }

  @media screen and (max-width: 650px) {
    & > label {
      font-size: 0;
    }
    & > label:before {
      margin: 0;
      font-size: 18px;
    }
  }

  @media screen and (max-width: 400px) {
    & > label {
      padding: 15px;
    }
  }
}
//subtab
.subtab {
  //subtab
  & > section {
    display: none;
    padding: 20px 0 0;
  }

  & > input {
    display: none;
  }

  & > label {
    display: inline-block;
    padding: 2px 32px;
    font-size: 16px;
    font-weight: 500;
    color: $theme-color;
    border: 1px solid $theme-color;
  }
  label.label-right {
    margin-left: -4px;
    border-radius: 0px 5px 5px 0px;
  }
  label.label-left {
    border-radius: 5px 0px 0px 5px;
  }

  & > label:hover {
    color: $theme-hover-color;
    cursor: pointer;
  }

  & > input:checked + label {
    color: $white-color;
    background: $theme-color;
  }

  .subtab1:checked ~ #content1,
  .subtab2:checked ~ #content2 {
    display: block;
  }

  @media screen and (max-width: 650px) {
    & > label {
      font-size: 0;
    }
    & > label:before {
      margin: 0;
      font-size: 18px;
    }
  }

  @media screen and (max-width: 400px) {
    & > label {
      padding: 15px;
    }
  }
}
