<div id="rating-modal"  class="remodal"  data-remodal-id="rating-modal">
        <div class="remodal-header">
                <div class="login-res-row">
                        <div class="getService-title-btn">评价</div>
                        <!-- <a class="login-btn register-title-btn pull-left" href="http://192.168.15.40:8080/cas/register?systemId=4e6f5d00-d023-11e7-a9e1-fb16d651f8ad&service=http://127.0.0.1:8090/cas">注册</a> -->
                </div>
                <button class="remodal-close closeModal" data-remodal-action="close" aria-label="Close"></button>
        </div>
        <div class="remodal-content mt30">
                <div id="starRating" >
                        <div class="row">
                                <div class="col-md-3 mt15">
                                        <span><strong>服务态度：</strong></span>
                                </div>
                                <p class="photo photo1 col-md-9">
                                <span><i class="high"></i><i class="nohigh"></i></span>
                                <span><i class="high"></i><i class="nohigh"></i></span>
                                <span><i class="high"></i><i class="nohigh"></i></span>
                                <span><i class="high"></i><i class="nohigh"></i></span>
                                <span><i class="high"></i><i class="nohigh"></i></span>
                                </p>
                                <p class="starNum">0星</p>
                        </div>
                </div>
                <div id="starRating2" class="mb20">
                        <div class="row">
                                <div class="col-md-3 mt15">
                                        <span><strong>专业能力：</strong></span>
                                </div>

                                <p class="photo photo2 col-md-9">
                                        <span class="span2"><i class="high"></i><i class="nohigh"></i></span>
                                        <span class="span2"><i class="high"></i><i class="nohigh"></i></span>
                                        <span class="span2"><i class="high"></i><i class="nohigh"></i></span>
                                        <span class="span2"><i class="high"></i><i class="nohigh"></i></span>
                                        <span class="span2"><i class="high"></i><i class="nohigh"></i></span>
                                </p>
                                <p class="starNum">0星</p>
                         </div> 
                </div>
                <form id="rating-form">
                       
                        <div class="form-group clear">
                               
                                <div class="col-sm-12">
                                        <textarea type="text" class="form-control" name="rating" rows=5 id="updatemarks" placeholder="您的任何有价值的意见和建议都是我们这宝贵财富，并将激励我们不断改善提高"></textarea>
                                </div>
                        </div>
                </form>
        <div class="remodal-footer">
                <div data-remodal-action="confirm" class="remodal-confirm">提交</div>
                <div data-remodal-action="close" class="remodal-close-btn">取消</div>
        </div>
        </div>
</div>