/*
* @Author: anchen
* @Date:   2017-06-13 14:52:52
* @Last Modified by:   anchen
* @Last Modified time: 2017-06-22 18:04:27
*/

// dimension
$title-size: 24px;
$subtitle-size: 18px;
$content-size: 16px;
//outer
.usercenter {
  background: #f5f5f5;
  .title-bar {
    position: relative;
    .page-title {
      color: #fff;
      font-weight: bold;
      font-size: $title-size;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
    }
  }
}
//common
h3.title {
  font-weight: bold;
  border-left: 8px solid #ed7a39;
  padding-left: 8px;
}
input:focus {
  border: solid 1px #ed7a39;
  outline: none;
}
.block {
  padding: 24px;
  border-bottom: solid 1px #eaeaea;
}
.font-theme {
  color: #ed7a39;
}
.primary-btn {
  border: none;
  box-shadow: none;
  color: #fff;
  background: #ed7a39;
  padding: 8px 10px;
  border-radius: 3px;
}
.border-btn {
  border: solid 1px #ed7a39;
  background: none;
  box-shadow: none;
  color: #ed7a39;
  padding: 4px 16px;
  border-radius: 3px;
  &:hover {
    color: #fff;
    background: #ed7a39;
  }
}
.ghost-border-btn {
  border: solid 1px #9a9a9a;
  background: none;
  box-shadow: none;
  color: #333333;
  padding: 4px;
  border-radius: 3px;
  &:hover {
    color: #ed7a39;
    border: solid 1px #ed7a39;
  }
}
.input {
  width: 240px;
  padding: 6px 12px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px #666 solid;
  margin-right: 8px;
}
.pagination {
  padding-top: 32px;
  float: right;
  input {
    width: 48px;
    padding: 4px;
    border-radius: 3px;
    border: 1px solid #9a9a9a;
    margin: 0 8px;
  }
}
.table {
  margin-bottom: 0;
  .headings {
    .column-title {
      padding: 16px;
      background: #eaeaea;
    }
  }
  td,
  th {
    text-align: center;
    border-right: solid 1px #dfdfdf;
    &:last-child {
      border-right: none;
    }
  }
  .checkbox {
    background: none;
  }
}
aside {
  nav {
    padding: 0;
    background: #fff;
    position: relative;
    .dropdown-menu {
      min-width: 0;
    }

    .fa-plus-square {
      color: #108ee9;
    }
    .navbar-nav {
      float: none;
      display: flex;
      flex-direction: column;
      .left-icon {
        margin-right: 12px;
      }
      .right-icon {
        position: absolute;
        right: 8%;
        top: 16px;
        color: #666;
      }
      .nav-item {
        position: relative;
        .nav-item-head {
          cursor: default;
          border-bottom: solid 1px #eaeaea;
          padding: 0 !important;
          display: block;
          font-weight: bold;
          font-size: 1.2em;
          color: #333333;
          height: 48px;
          line-height: 48px;
          text-align: center;
        }
      }
      .nav-link {
        height: 42px;
        text-align: center;
        line-height: 42px;
        padding: 0 !important;
        &:hover {
          background: #ed7a39;
          color: #fff !important;
        }
        &.active {
          background: #ed7a39;
          color: #fff !important;
        }
      }
      .dropdown-menu {
        display: block;
        position: relative;
        border: none;
        width: 100%;
        box-shadow: none;
        .dropdown-content {
          display: flex;
          flex-direction: column;
          .dropdown-item {
            font-weight: 500;
          }
        }
      }
    }
  }
}
.content-container {
  background: #fff;
  padding: 24px;
  width: 100%;
  #indexpage {
    .user-info {
      .avatar-block {
        text-align: center;
        #avatar {
          width: 112px;
          height: 112px;
        }
        .btn-group {
          display: flex;
          margin-top: 12px;
          justify-content: space-between;
          button {
            color: #ed7a39;
            background: none;
            width: 64px;
            height: 24px;
            border-radius: 3px;
            border: 1.5px solid #ed7a39;
          }
        }
      }
      .user-info-block {
        padding: 24px 0 24px 12px;
        h4 {
          span {
            color: #ed7a39;
            font-size: 18px;
          }
        }
        p {
          color: #9a9a9a;
          font-size: 16px;
        }
      }
      button {
        width: 42px;
        height: 42px;
        border: none;
      }
      button#discuss-btn {
        background: url('../../assets/image/usercenter_icon2.png');
      }
      button#headphone-btn {
        background: url('../../assets/image/usercenter_icon3.png');
        margin-left: 12px;
      }
    }
    .applications {
      div {
        margin: 8px 0;
        span {
          color: #9a9a9a;
        }
      }
    }
    .affairs {
      .header {
        margin: 24px 0;
        span {
          margin-right: 52px;
          padding-left: 50px;
          line-height: 24px;
          position: relative;
          &::before {
            width: 40px;
            height: 22px;
            position: absolute;
            top: 0;
            left: 0;
            content: '';
          }
          &:nth-child(1)::before {
            background: #35a9ce;
          }
          &:nth-child(2)::before {
            background: #fe99ff;
          }
          &:nth-child(3)::before {
            background: #66cc9a;
          }
        }
      }
      #calendar {
        .fc-day-header {
          padding: 8px;
          background: #eaeaea;
        }
      }
    }
  }
  #my-reports {
    .reports-content {
      .searchbar {
        display: flex;
        align-items: center;
        padding: 12px 0;
        justify-content: space-between;
        border-bottom: 1px solid #eaeaea;
        p {
          font-size: 16px;
          span {
            color: #ed7a39;
            padding:0 5px;
          }
        }
      }
      .content {
        .content-item {
          border-bottom: solid 1px #eaeaea;
          &:last-child {
            border-bottom: none;
          }
          .case-title {
            font-weight: bold;
            font-size: $subtitle-size;
            padding: 20px 0;
          }
          .case-content {
            margin-bottom: 12px;
            font-size: $content-size;
          }
          .case-time {
            color: #9a9a9a;
          }
        }
      }
    }
  }
  #my-bills {
    .my-bills-content {
      .table-footer {
        strong {
          float: right;
          font-size: 1.1em;
          span {
            font-size: 1.1em;
          }
        }
        text-align: right;
        padding: 32px 0;
      }
    }
  }
  #my-profile {
    .my-profile-content {
      h3 {
        margin-bottom: 36px;
      }
      .footer {
        display: flex;
        justify-content: flex-end;
        button {
          padding: 8px 64px;
        }
      }
    }
  }
  #my-loan{
    span.showmore{
      cursor: pointer;
    }
    tr.detail{
      display:none;
      td{
        padding:20px 0;
        background: #f5f5f5;
        .process-text{
          text-align: left;
          .pro-tex{
            background: url("../../assets/image/left-icon.png") no-repeat;
            display: block;
            padding-left:30px;
            height: 28px;
            span{
              padding:0 20px;
            }
          }
        }
      }
    }
    .steps-box{
      display: flex;
      padding: 4rem 4.6rem 1.5rem;
      justify-content: space-around;
      .step{
        position: relative;
        z-index:99;
        &::after{
          content: '';
          z-index: 1;
          position: absolute;
          top: -25px;
          right: -170%;
          height: 2px;
          border: 2px solid #999999;
          width: 200%;
        }
        &:last-child{
          &::after{
            border: none;
          }
        }
        i{
          position: absolute;
          top: -40px;
          left: 50%;
          transform: translate(-50%);
          padding: 5px;
          background: #999999;
          color: white;
          border-radius: 50%;
          font-size: 18px;
        }
      }
      .active-step{
        &::after{
          content: '';
          border: 2px solid #ed7a39;
        }
        &:last-child{
          &::after{
            border: none;
          }
        }
        i{
          background: #ed7a39;
        }
      }
    }
  }
}

//法物贷 我的案件通用样式
.affairs-template {
  .searchbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
    justify-content: space-between;
    .form-group{
      .control-label{
        padding:5px 0 0 0;
      }
      .col-sm-9 {
        padding:0;
        .col-md-5.form-control {
          width:41.66666667%;
          padding:0;
        }
        span{
          padding:5px;
        }
      }
    }
    p{
      .totalNum {
        color: #ed7a39;
        padding:0 5px;
      }
    }
  }
  .info-bar {
    display: flex;
    font-size: $content-size !important;
    background: #f5f5f5;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
    .left {
      img {
        margin: 0 8px;
      }
      span {
        margin-right: 24px;
      }
    }
    .right {
      display: inline-flex;
      align-items: center;
      width: 240px;
      span {
        width: 80px;
        margin-right: 24px;
      }
    }
  }
}
