<div id="banner">
            <ul class="swiper-wrapper" id="banner-list">  
                <li class="swiper-slide">
                    <img src="dist/assets/image/banner.png" alt="法务贷款好帮手"  class="img-responsive">
                    <div class="banner-content">
                        <div class="apply-btn">
                            <a href="javascript:;" target="_blank" class="btnstyle legaloan" onclick="infoJumpTo()">立即申请</a>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide">
                    <img src="dist/assets/image/banner.png" alt="法务贷款好帮手"  class="img-responsive">
                    <div class="banner-content">
                          
                            <div class="apply-btn">
                                <a href="javascript:;" target="_blank" class="btnstyle legaloan" onclick="infoJumpTo()">立即申请</a>
                            </div>
                        </div>
                </li>
            </ul>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
</div>

<div class="index-main-content">
<!--our advantage -->
     <div class="our-advantage">
         <div class="container">
             
            <div class="main-title">
                <img src="dist/assets/image/characteristics-tittle.png" class="img-responsive">
                <div class="title-top">
                    <div class="mtdown"></div>
                   <h2>法务贷四大特点</h2>
                </div>
            </div>
            <div class="mb40"></div>
            <div class="data-content">
                <div class="data-satellite clear">
                    <div class="row">
                        <div class="adv-box satellite-first col-md-3  col-sm-6">
                            <img src="dist/assets/image/index-featrue-icon1.png" alt="诉讼费贷款">
                            <p class="ptitle">诉讼费贷款</p>
                            <p><span>打官司，诉讼费、律师服务费，到处都要花钱，并且难以一次性支付。法务贷能帮助您向银行申请贷款。</span></p>
                        </div>
                        <div class="adv-box col-md-3 col-sm-6">
                            <img src="dist/assets/image/index-featrue-icon2.png " alt="平台担保">
                            <p class="ptitle">平台担保</p>
                            <p><span>普通借贷平台，放款慢，没保障，法务贷针对法律案件诉讼贷款，与线下银行深度合作，对资金进行管理和监督，保证手续正规安全。</span></p>
                        </div>
                        <div class="adv-box col-md-3 col-sm-6">
                            <img src="dist/assets/image/index-featrue-icon3.png" alt="手续简单快捷">
                            <p class="ptitle">手续简单快捷</p>
                            <p><span>由平台注册的委托律师从旁协助，文件资料可由律师代办，当事人不必到处交办理手续。</span></p>
                        </div>
                        <div class="adv-box col-md-3 col-sm-6">
                            <img src="dist/assets/image/index-featrue-icon4.png" alt="24小时全程跟进">
                            <p class="ptitle">24小时全程跟进</p>
                            <p class="mb0"><span>法务贷平台全程跟踪贷款流程，有新消息及时通知当事人，并有还贷提醒，委托律师也会进行全程监督。</span></p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
 
<div class="choose mt50" id="choose">
    <div class="container">
            <div class="row" id="choose-col">
                <div class="col-md-8 col-sm-8 left-box">
                    <div class="main-title">
                        <img src="dist/assets/image/choose-title.png" class="img-responsive">
                        <div class="title-top">
                            <div class="hidden-sm hidden-xs mt40down"></div>
                            <h2>为什么选择我们</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                                <img src="dist/assets/image/choose-circle01.png" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-4 col-sm-4">
                                <img src="dist/assets/image/choose-circle02.png" class="img-responsive" alt="">
                        </div>
                        <div class="col-md-4 col-sm-4">
                                <img src="dist/assets/image/choose-circle03.png" class="img-responsive" alt="">
                        </div>

                    </div>
                </div>
                <div class="col-md-4 col-sm-4 right-box">
                    <img src="dist/assets/image/choose-right.png" class="img-responsive">
                </div>
        </div>
    </div>
</div>
</div>
<!--apply process -->
<div class="service-process mt50">
        <div class="container">
            <div class="main-content-list mb30">
                <div class="main-title">
                    <img src="dist/assets/image/process-title.png" class="img-responsive">
                    <div class="title-top">
                        <div class="mt40down"></div>
                        <h2>申请流程</h2>
                    </div>
                </div>
                <div class="mb40 hidden-sm"></div>
                <div class="mb20 visible-sm-block"></div>
                <div class="conprocess ">
                   <img src="dist/assets/image/process-icon.png" class="img-responsive" alt="法务贷申请流程">
                </div>
            </div>
        </div> 
    </div>

     <div class="news-center mt30">
        <div class="container">
            <div class="main-content-list">
                <div class="main-title">
                        <img src="dist/assets/image/example-title.png" class="img-responsive">
                        <div class="title-top">
                            <div class="mt60down"></div>
                            <h2>申请样例</h2>
                        </div>
                    </div>
            </div>
            <div class="mb40"></div>
         
            <div class="apply-example mb40 width1920">
                <div class="row">
                    <div class="col-sm-12 col-md-12 example">
                        <img src="dist/assets/image/example-1.jpg" alt="诉讼难处"  class="img-responsive col-sm-4 col-md-2">
                        <div class="text-box1 sm col-sm-8 col-md-10 ">
                            <p>李某某，因交通事故要打官司，一时拿不出律师费</p>
                            <i></i>
                        </div>
                    </div>
                    <div class="mb40 col-md-12 hidden-sm hidden-xs"></div>
                    <div class="mb25 col-sm-12 visible-sm-block"></div>
                    <div class="col-sm-12 col-md-12 example">
                        <img src="dist/assets/image/example-2.jpg" alt="诉讼难处"  class="img-responsive col-sm-4 col-md-2">
                        <div class="text-box2 sm col-sm-8 col-md-10">
                            <p>律师帮助当事人申请，平台。。。。。</p>
                            <p>律师帮助当事人申请，平台。。。。。</p>
                            <i></i>
                        </div>
                    </div>
                    <div class="mb40  col-md-12 hidden-sm  hidden-xs"></div>
                    <div class="mb25  col-sm-12 visible-sm-block"></div>
                    <div class="col-sm-12 col-md-12 example">
                        <img src="dist/assets/image/example-3.jpg" alt="诉讼难处"  class="img-responsive col-sm-4 col-md-2">
                        <div class="text-box3 sm col-sm-8 col-md-10">
                            <p>法务贷平台与客户电话沟通，帮助客户详细分析其面对的法律问题，并提供了专业的</p>
                            <p>1、帮助用户申请了法务贷1000元。</p>
                            <p>1、帮助用户申请了法务贷1000元。</p>
                            <p>1、帮助用户申请了法务贷1000元。</p>
                            <i></i>
                        </div>
                    </div>
                    <div class="mb40 col-md-12"></div>
                    <div class="mb25  col-sm-12 visible-sm-block"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- banner  -->
<!-- <script type="text/html" id="index-banner-templete">
    {% each list data %}
     <img src="{% data.url%}" alt="">
    {% /each %}
</script> -->
<!-- client-logo  -->
<!-- <script type="text/html" id="client-icon-templete">
    {% each list  data %}
    <li class="swiper-slide"><img src="{% data.trademarkUrl%}" alt=""></li>
    {% /each %}
</script> -->
<!-- client-say  -->
<!-- <script type="text/html" id="client-say-templete">
    {% each list  data %}
<div class="text-box swiper-slide">
    {% if data.userHeadshotUrl %}
        <img src="{% data.userHeadshotUrl%}">
    {% else %}
    <img src="dist/assets/image/myhead-img.jpg">
    {% /if %}
    <p class="client-name">{% data.userMobilePhone %}</p>
    <p>{% data.content %}</p>
  </div>
  {% /each %}
</script> -->

<!-- news  -->
