<div class="login-bg">
        <div id="login-modal-box">
                <div class="remodal-header">
                        <div class="login-res-row clear">
                                <!-- <div class="login-title-btn pull-left current">登录</div> -->
                                <div class="register-title-btn pull-left">注册</div>
                        </div>
                </div>
                <div class="remodal-content">
                        <!--登录表单-->
                        <!-- <form id="login-form">
                                <div class="mb20"></div>
                                <div class="row clear">
                                        <label class="label pull-left">账号：</label><input class="pull-left" type="text" name="mobilePhone" placeholder="请输入手机号">
                                        <div class="error-div"></div>
                                </div>
                                <div class="row clear">
                                        <label class="label pull-left">密码：</label><input class="pull-left" type="password" name="password" placeholder="请输入密码">
                                        <div class="error-div"></div>
                                </div>
                                <div class="row clear">
                                        <label class="label pull-left"></label>
                                        <label class="checkbox-input" for="">
                                                <input class="pull-left"   type="checkbox" id="remember-psw" name="" value="">
                                        </label>
                                        <label for="remember-psw">记住密码</label>
                                </div>

                        </form> -->
                        <!--注册表单-->
                        <form id="registered-form">
                                <div class="row clear">
                                        <label class="label pull-left">账号：</label>
                                        <input class="pull-left" type="text" name="mobilePhone" placeholder="请输入手机号">
                                        <div class="error-div"></div>
                                </div>
                                <div class="row clear verification-code-row">
                                        <label class="label pull-left">验证码：</label>
                                        <input class="pull-left"  type="text" placeholder="请输入图片验证码" name="registerCode">
                                        <div class="pull-left registerCode-btn"><img></div>
                                        <div class="error-div"></div>
                                </div>
                                <div class="row clear verification-code-row">
                                                <label class="label pull-left">验证码：</label>
                                                <input class="pull-left"  type="text" placeholder="请输手机入验证码" name="securityCode">
                                                <div class="btn-white pull-left validateCode-btn" >点击获取验证码</div>
                                                <div class="error-div"></div>
                                        </div>
                                <div class="row clear">
                                        <label class="label pull-left">密码：</label>
                                        <input class="pull-left" type="password" name="password" placeholder="请输入密码">
                                        <div class="error-div"></div>
                                </div>
                        </form>
                <div class="remodal-footer">
                        <div data-remodal-action="confirm" class="remodal-confirm">注册</div>
                </div>
        </div>
        </div>
</div>