@import '../../public/css/common.scss';
.banner{
        position: initial!important;
       
        .container{
                background: #fff!important;
            #header-logo{
                background:url("../../assets/image/header2_logo.png") no-repeat!important;
              }
              #header-nav,.login-operating {
                display: none!important;
          }
          .user-operating{
                  display: none!important;;
          }
      }
}
.footer_bar{
        background: #fff!important;
       .footer_auto{
               padding-top:0!important;    
                .footer-info{
                        display: none!important;
                }
                .footer-bottom-info{
                        background: #fff!important;
                        border:none!important;
                        padding-top:0!important;
                        margin-top:10px!important;
                p{
                        color:#333!important;
                }      
                }
        }
}
.login-bg{
        background: url("../../assets/image/login_bg.jpg") no-repeat center center!important;
        background-size:cover;
        background-attachment: fixed;
        top:0!important;
        left:0!important;
        bottom:0!important;
        right: 0!important;

#login-modal-box{
  width: 580px;
  position: absolute;
  margin: 0 auto;
  background: #fff;
  height: 430px;
  left:510px;
  top:200px;
  border-radius: 5px;
  .remodal-header {
	position: relative;
	height: 50px;

  .login-res-row{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
           .login-title-btn,.register-title-btn{
                   width: 290px;
                   height: 44px;
                  cursor:pointer;
                  line-height: 44px;
                  text-align: center;
                  font-size: 16px;
                  background-color: #eeeeee;
                  &:hover{
                          background-color: #e1e1e1;
                  }
          }
           .login-title-btn{
                   border-top-left-radius: 3px;
           }
           .register-title-btn{
                   border-top-right-radius: 3px;
           }
          .current{
                  background-color: #fff;
          }
  }
}
  .remodal-content{
          width: 433px;
          margin: 0 auto;
          form{
                  padding-top: 28px;
                  .row{
                          min-height: 70px;
                          .label{
                                  width: 56px;
                                  height: 40px;
                                  line-height: 40px;
                          }
                          input[type='text'],input[type='password']{
                                  width: 375px;
                                  height: 38px;
                                  line-height: 38px;
                                  border:1px solid #cccccc;
                                  border-radius: 2px;
                                  text-indent: 12px;
                          }
                          .error-div{
                                  margin-left: 56px;
                                  line-height: 22px;
                                  color:#ff0000;
                                  font-size: 12px;
                                  label{
                                          font-size: 12px;
                                  }
                          }
                  }
                  .verification-code-row{
                          input[type='text']{
                                  width: 256px;
                          }
                          .btn-white{
                                  width: 110px;
                                  height: 38px;
                                  line-height: 38px;
                                  margin-left: 7px;
                                  border:1px solid #009bd5;
                                  color:#009bd5;
                                  &:hover{
                                        background:#009bd5;
                                        color:#fff; 
                                  }
                          }
                          .registerCode-btn{
                                  img{
                                          width:112px;
                                          height: 40px;
                                          margin-left:7px;
                                  }
                          }
                  }
          }
          #login-form{
                   .row{
                          &:last-child{
                                  height: 57px;
                          }
                   }
          }
          #registered-form{
                  padding-top: 28px;
                  display: none;
                  .stopBtn{
                          cursor: default;
                  }
          }
  }
  .remodal-footer{
          width: 433px;
                  margin: 0 auto;
          .remodal-confirm{
                  margin-left: 56px;
                  width: 380px;
                  height: 40px;
                  line-height: 40px;
                  padding:0;
                  float:left;
                  background: #009bd5;
                  border:1px solid #009bd5;
         &:hover{
                 background: none;
                 
         }
          }
  }
}
}