#dist开发生产的文件
dist/
#node_modules 存放gulp的插件
node_modules/
#pages 打包过程中生成的页面
/pages/

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/
# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml
# mpeltonen/sbt-idea plugin
.idea_modules/
# Cursive Clojure plugin
.idea/replstate.xml
.idea/dataSources.local.xml
.idea/workspace.xml