<div id="myarting-modal"  class="remodal"  data-remodal-id="myarting-modal">
        <div class="remodal-header">
                <div class="login-res-row">
                        <div class="getService-title-btn">评价我们</div>
                        <!-- <a class="login-btn register-title-btn pull-left" href="http://192.168.15.40:8080/cas/register?systemId=4e6f5d00-d023-11e7-a9e1-fb16d651f8ad&service=http://127.0.0.1:8090/cas">注册</a> -->
                </div>
                <button class="remodal-close closeModal" data-remodal-action="close" aria-label="Close"></button>
        </div>
        <div class="remodal-content">
             
                <form id="myarting-form">
                       
                        <div class="row clear">
                                <label class="label pull-left">评价内容：</label>
                                <textarea class="pull-left" type="text" name="content"></textarea>
                                
                        </div>
                </form>
        <div class="remodal-footer">
                <div data-remodal-action="confirm" class="remodal-confirm">提交</div>
                <div data-remodal-action="close" class="remodal-close-btn">取消</div>
        </div>
        </div>
</div>