<div class="clearfix officeCenter">
  <div class="title-bar">
    <img src="dist/assets/image/usercenter_bg.png" alt="" style="width: 100%;">
    <span class="page-title">我的财富</span>
  </div>
  <div class="container">
    <div class="col-sm-1"></div>

    {{ include '../~modal/lawyerNav/main'}}
    <div class="col-sm-8">
      <div class="content-container">
        <div class="page" id="my-team">
          <div class="my-team-content clearfix">
            <!-- my-team-templapte -->
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>

<script type="text/html" id="my-team-template">
  <div class="col-sm-9 my-team-block">
    <div class="btns">
      <div class="border-btn">加入团队</div>
      <div class="border-btn">创建团队</div>
    </div>
    <h3 class="title">我的团队</h3>
    <br>
    <div class="table-responsive table-bordered table-hover">
      <table class="table table-striped jambo_table bulk_action">
        <thead>
          <tr class="headings">
            <th class="column-title">姓名 </th>
            <th class="column-title">律所 </th>
            <th class="column-title">贡献值</th>
            <th class="column-title">最后登陆时间 </th>
            <th class="column-title"><span class="nobr">操作</span>
            </th>
          </tr>
        </thead>
        <tbody>
            {% each myTeams  data%}
              <tr class="even pointer">
                <td class="column-content ">{% data.name %} </td>
                <td class="column-content ">{% data.office %} </td>
                <td class=" column-content">{% data.contribution %} </td>
                <td class="a-right a-right ">{% data.lastOnlineTime %}</td>
                <td class=" last">
                  <a href="#">删除</a>
                  <a href="#">消息</a>
                  <a href="#">查看</a>
                </td>
              </tr>
            {%/each %}
          </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="ranking-block">
      <div class="title"><strong>贡献排名</strong></div>
      {% each ranking  data%}
      <div class="ranking-item">
        <span class="ranking-no">{% data.rank %}</span>
        <span class="ranking-name">{% data.name %}</span>
        <span class="ranking-vist font-gray"><i class="fa fa-eye"></i>{% data.visit %}</span>
      </div>
      {%/each %}
    </div>
  </div>
  <div class="col-sm-12 teams-block">
    <h3 class="title">加入的团队</h3>
    <br>
    <div class="subtab">
        <input class="subtab1" id="team-tab1" type="radio" name="team-subtabs" checked>
        <label for="team-tab1" class="label-left">母队</label>
      
        <input class="subtab2" id="team-tab2" type="radio" name="team-subtabs">
        <label for="team-tab2" >专业团队1</label>
        <input class="subtab3" id="team-tab3" type="radio" name="team-subtabs">
        <label for="team-tab3" >专业团队2</label>
        <input class="subtab4" id="team-tab4" type="radio" name="team-subtabs">
        <label for="team-tab4" class="label-right">专业团队3</label>

        <section id="content1">
          <div class="table-responsive table-bordered table-hover">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title">姓名 </th>
                    <th class="column-title">律所 </th>
                    <th class="column-title">贡献值</th>
                    <th class="column-title">最后登陆时间 </th>
                    <th class="column-title"><span class="nobr">操作</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                    {% each myTeams  data%}
                      <tr class="even pointer">
                        <td class="column-content ">{% data.name %} </td>
                        <td class="column-content ">{% data.office %} </td>
                        <td class=" column-content">{% data.contribution %} </td>
                        <td class="a-right a-right ">{% data.lastOnlineTime %}</td>
                        <td class=" last">
                          <a href="#">删除</a>
                          <a href="#">消息</a>
                          <a href="#">查看</a>
                        </td>
                      </tr>
                    {%/each %}
                  </tbody>
              </table>
            </div>
        </section>
        <section  id="content2">
            <div class="table-responsive table-bordered table-hover">
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                      <th class="column-title">姓名 </th>
                      <th class="column-title">律所 </th>
                      <th class="column-title">贡献值</th>
                      <th class="column-title">最后登陆时间 </th>
                      <th class="column-title"><span class="nobr">操作</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                      {% each myTeams  data%}
                        <tr class="even pointer">
                          <td class="column-content ">{% data.name %} </td>
                          <td class="column-content ">{% data.office %} </td>
                          <td class=" column-content">{% data.contribution %} </td>
                          <td class="a-right a-right ">{% data.lastOnlineTime %}</td>
                          <td class=" last">
                            <a href="#">删除</a>
                            <a href="#">消息</a>
                            <a href="#">查看</a>
                          </td>
                        </tr>
                      {%/each %}
                    </tbody>
                </table>
              </div>
        </section>
        <section  id="content3">
           3
        </section>
        <section  id="content4">
           4
        </section>
      </div>
      <div class="pagination">
        <span>共{% pages %}页，当前第<span id="current-page">1</span>页</span>
        <button class="prev ghost-border-btn ">上一页</button>
        <button class="next ghost-border-btn ">下一页</button>
        <input type="text"></input>
        <button class="jumpto border-btn">跳转</button>
      </div>
  </div>
</script>
