<div id="officeMemberDisableModal" class="remodal" data-remodal-id="officeMemberDisableModal">
  <div class="remodal-header">
    <div class="login-res-row">
      <div class="title getService-title-btn" style="font-size: 20px;font-weight: bold;margin-bottom: 24px;">无效成员</div>
    </div>
    <button class="remodal-close closeModal" data-remodal-action="close" aria-label="Close"></button>
  </div>
  <div class="remodal-content" style="text-align: center;">
    <h4 style="text-align: center;margin: 48px">请确认您确实要无效此帐户。</h4>
    <button class="border-btn" style="width:30%;padding: 8px 16px;display: inline-block" id="cancel-btn" data-remodal-action="cancel">取消</button>
    <button class="primary-btn" style="width:30%;display: inline-block" id="confirm-btn" data-remodal-action="confirm">确认</button>
  </div>
</div>
