<div id="openAgreement-modal"  class="remodal"  data-remodal-id="openAgreement-modal">
        <div class="remodal-header">
                <div class="login-res-row">
                        <div class="getService-title-btn">法律事务宝律师入驻协议</div>
                </div>
                <button class="remodal-close closeModal" data-remodal-action="close" aria-label="Close"></button>
        </div>
        <div class="remodal-content">
                <!--登录表单-->
                
                <div class="openAgreement-form">
                        
                </div>
       
        </div>
</div>