<div class="clearfix officeCenter">
  <div class="title-bar">
    <img src="dist/assets/image/usercenter_bg.png" alt="" style="width: 100%;">
    <span class="page-title">成员管理</span>
  </div>
  {{ include '../~modal/officeMemberAddModal/main'}}
  {{ include '../~modal/officeMemberDisableModal/main'}}
  {{ include '../~modal/officeMemberDeleteModal/main'}}
  {{ include '../~modal/officeMemberDetailModal/main'}}

  <div class="container">
    <div class="col-sm-1"></div>

    {{ include '../~modal/officeNav/main'}}
    <div class="col-sm-8">
      <div class="content-container">
        <!-- 成员管理 -->
        <div class="page pageNow" id="member-manage">
          <div class="member-manage-content">
            <div class="searchbar clearfix">
              <p class="col-sm-4">共为你搜索到 <span class="totalNum font-theme"></span> 条数据</p>
              <div class="col-sm-4">
                <input type="text" class="input" placeholder="请输入订单号"></input>
                <button class="primary-btn">搜索</button>
              </div>
              <div class="col-sm-4">
                  <select class="form-control">
                    <option>全部</option>
                    <option>已完成</option>
                  </select>
                <button class="primary-btn" data-remodal-target="officeMemberAddModal">添加</button>
                <button class="primary-btn">导入</button>
              </div>
            </div>
            <div class="table-responsive table-bordered table-hover">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title">账号 </th>
                    <th class="column-title">姓名 </th>
                    <th class="column-title">性别 </th>
                    <th class="column-title">状态 </th>
                    <th class="column-title">加入时间 </th>
                    <th class="column-title"><span class="nobr">操作</span>
                    </th>
                  </tr>
                </thead>
                <tbody class="member-list">
                  
                  </tbody>
              </table>
            </div>  

            <div class="page-row clear">
              <div class="pager pull-right">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>

<script type="text/html" id="member-manage-template">
  {% each list  data%}
  <tr class="even pointer">
    <td class="column-content ">{% data.nickname %} </td>
    <td class="column-content ">{% data.realname %} </td>
    {% if data.sex === 1%}
    <td class=" column-content">男</td>
    {% else if data.sex === 0%}
    <td class=" column-content">女</td>
    {% else %}
    <td class=" column-content"></td>
    {% /if%}
    {% if data.status === 1%}
    <td class=" column-content">启用</td>
    {% else if data.status === 0%}
    <td class=" column-content">失效</td>
    {% else if  data.status === -1 %}
    <td class=" column-content">未审核</td>
    {% else %}
    <td class=" column-content"></td>
    {% /if%}
    
    <td class="a-right a-right ">{% data.createTime %}</td>
    <td class="last">
      <a href="#" id="detail-btn" data-remodal-target="officeMemberDetailModal" data-id="{% data.lawyerId %}">查看</a>
      {% if data.status === 1 %}
      <a href="#" id="disable-btn" data-remodal-target="officeMemberDisableModal" data-id="{% data.lawyerId %}" >失效</a>
      {% else %}
      <a href="#"  id="disable-btn" class="disable-disablebtn" style="color:#c5c8ce;">失效</a>
      {% /if %}
      <a href="#" id="delete-btn" data-remodal-target="officeMemberDeleteModal" data-id="{% data.lawyerId %}">删除</a>
    </td>
  </tr>
{%/each %}
</script>