<aside class="col-sm-2 ">
  <nav class="card">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link nav-item-head" id="office-indexpage" href="{{ $imports.globalVariable }}/officeCenter">账户首页 </a>
      </li>
      <li class="nav-item">
        <a class="nav-item-head" href="#">查询中心</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="dropdown-content">

            <a class="dropdown-item nav-link" id="office-assets" href="{{ $imports.globalVariable }}/officeAssets">我的财富</a>
            <a class="dropdown-item nav-link" id="office-bills" href="{{ $imports.globalVariable }}/officeBills">账单记录</a>
          </div>
        </div>
        <span class="fa fa-chevron-up right-icon"></span>
      </li>
      <li class="nav-item">
        <a class="nav-item-head" href="#">个人设置</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="dropdown-content">
            <a class="dropdown-item nav-link" id="office-profile" href="{{ $imports.globalVariable }}/officeProfile">资料管理</a>
            <a class="dropdown-item nav-link" id="office-certificaition" href="{{ $imports.globalVariable }}/officeCertification">律所认证</a>
            <a class="dropdown-item nav-link" id="office-member" href="{{ $imports.globalVariable }}/officeMember">成员管理</a>
            <a class="dropdown-item nav-link" id="office-messages" href="{{ $imports.globalVariable }}/officeMessage">消息中心</a>
          </div>
        </div>
        <span class="fa fa-chevron-up right-icon"></span>
      </li>
    </ul>
  </nav>
</aside>