
<div class="index-main-content">
        <div id="top-banner">
            
           <img src="dist/assets/image/lawyer-banner.png" class="img-responsive bann-img" alt="律师详情">
            <div class="lawyerinfo">
                <div class="info-box">
                    <img src="dist/assets/image/lawyer-icon.png" class="img-responsive" alt="律师头像">
                    <h4></h4>
                </div>
            </div>
        </div>
    <div class="main-content-service pd50 pt50" id="mainContent">
        <div class="container">
                
                <div class="row">
                    <div class="col-md-1 col-sm-2">
                        <div class="item-left clear">
                            <img src="dist/assets/image/item-icon-left.png" >
                        </div>
                        <div class="item-list-left clear">
                                <img src="dist/assets/image/process-2.png" >
                            <div class="item-p">
                                <p>首部</p>
                                <p>事实</p>
                                <p>案情结果</p>
                                <p>尾部</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-7">
                        <div class="content">

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <div class="item-btn"><img src="dist/assets/image/item-icon.png" ></div>
                      
                       <div class="item-list c">
                            <img src="dist/assets/image/process.png" >
                            <div class="item-p">
                                <div class="base-info">
                                    <p class="case-title">基本信息</p>
                                   
                                </div>
                                <div class="case-ifon">
                                    <p class="case-title-btm">法律依据</p>
                                    <ul class="parentul">

                                    </ul>
                                </div>
                            </div>
                       </div>
                    </div>
                </div>
                
               
             </div>   
        </div>
    </div>
 
<script type="text/html" id="case-content-templete">
   <div class="content-text">
        {% data.content %}
   </div>
</script>


