<div class="clearfix officeCenter">
  <div class="title-bar">
    <img src="dist/assets/image/usercenter_bg.png" alt="" style="width: 100%;">
    <span class="page-title">我的财富</span>
  </div>
  <div class="container">
    <div class="col-sm-1"></div>

    {{ include '../~modal/lawyerNav/main'}}
    <div class="col-sm-8">
      <div class="content-container">
        <div class="page " id="my-assets">
          <div class="assets-content">
            <!-- assets-template -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>

<script type="text/html" id="assets-template">
  <div class="title-bar">
    <h4>当前可提取余额<strong class="font-theme">{% balance%}</strong></h4>
    <button class="primary-btn">提现申请</button>
    <div class="clearfix"></div>
    <div class="col-sm-4 card-item-wrapper">
      <div class="card-item">
        <div class="icon" id="icon-1">
          <img src="dist/assets/image/lawyercenter_icon_wealth.png" alt="">
        </div>
        <div class="card-item-content">
          <h5>累计总收益</h5>
          <h3 class="font-theme">￥{% total %}</h3>
          <p class="font-gray"><span class="font-theme"><span class="fa fa-arrow-alt-up"></span>10%</span> 同比上月</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 card-item-wrapper">
      <div class="card-item">
        <div class="icon" id="icon-2">
          <img src="dist/assets/image/lawyercenter_icon_wealth.png" alt="">
        </div>
        <div class="card-item-content">
          <h5>累计个人收益</h5>
          <h3 class="font-theme">￥{% total %}</h3>
          <p class="font-gray"><span class="font-theme"><span class="fa fa-arrow-alt-up"></span>10%</span> 同比上月</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 card-item-wrapper">
      <div class="card-item">
        <div class="icon" id="icon-3">
          <img src="dist/assets/image/lawyercenter_icon_wealth.png" alt="">
        </div>
        <div class="card-item-content">
          <h5>累计团队收益</h5>
          <h3 class="font-theme">￥{% total %}</h3>
          <p class="font-gray"><span class="font-theme"><span class="fa fa-arrow-alt-up"></span>10%</span> 同比上月</p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="searchbar">
      <p>共为你搜索到 <span>{% count %}</span> 条数据</p>
      <div>
        <input type="text" class="input" placeholder="请输入关键词"></input>
        <button class="primary-btn">搜索</button>
      </div>
    </div>
    <div class="info-bar">
      <span class="time">{% info.time %}</span>
      <span>
        <span class="info-item">总计：<span class="font-theme">{% info.total%}</span> 元</span>
        <span class="info-item"> |</span>
        <span class="info-item">总交易笔数：<span class="font-theme">{% info.counts%}</span> 笔</span>
        <span class="info-item">|</span>
        <span class="info-item">个人：<span class="font-theme">{% info.personal%}</span>  元</span>
        <span class="info-item">|</span>
        <span class="info-item">团队：<span class="font-theme">{% info.team%}</span>  元</span>
      </span>
    </div>

    <!-- 我的财富每月图表 --- echarts -->
    <div id="my-assets-chart"></div>
    <br>
    <div class="table-responsive table-bordered table-hover">
        <table class="table table-striped jambo_table bulk_action">
          <thead>
            <tr class="headings">
              <th class="column-title">订单编号 </th>
              <th class="column-title">来源 </th>
              <th class="column-title">事务类型</th>
              <th class="column-title">收益 </th>
              <th class="column-title">结算日期 </th>
              <th class="column-title"><span class="nobr">操作</span>
              </th>
            </tr>
          </thead>
  
          <tbody>
            {% each bills  data%}
              <tr class="even pointer">
                <td class=" column-content">{%data.no%}</td>
                <td class="column-content ">{%data.region%} </td>
                <td class="column-content ">{%data.type%} </td>
                <td class=" column-content">{%data.amount%} </td>
                <td class="a-right a-right ">{% data.time %}</td>
                <td class=" last">
                  <a href="#">更多</a>
                  <span class="fa fa-chevron-down"></span>
                </td>
              </tr>
  
            {% /each %}
  
          </tbody>
        </table>
      </div>
    <div class="pagination">
      <span>共{% pages %}页，当前第<span id="current-page">1</span>页</span>
      <button class="prev ghost-border-btn ">上一页</button>
      <button class="next ghost-border-btn ">下一页</button>
      <input type="text"></input>
      <button class="jumpto border-btn">跳转</button>
    </div>
  </div>
</script>