<div class="clearfix officeCenter">
  <div class="title-bar">
    <img src="dist/assets/image/usercenter_bg.png" alt="" style="width: 100%;">
    <span class="page-title">律所认证</span>
  </div>
  <div class="container">
    <div class="col-sm-1"></div>
    {{ include '../~modal/officeNav/main'}}
    <div class="col-sm-8">
      <div class="content-container">
        <div class="auth-process">

        </div>
        <div class="page " id="my-certification">
          <div class="my-certification-content">
            <form class="form-horizontal" id="certification-form">

            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
{{ include '../~modal/openAgreement/main'}}
{{ include '../~modal/imagePreview/main'}}
<script type="text/html" id="office-add-template">
      <h3 class="title">基本资料</h3>
      <div class="form-group">
        <label for="inputRealname" class="col-sm-2 control-label">律所名称：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputRealname" name="realname" placeholder="请输入律所名称">
          <div class="error-div"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPrincipal" class="col-sm-2 control-label">律所负责人：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control " id="inputPrincipal" name="principal" placeholder="请输入律所负责人">
          <div class="error-div"></div>
        </div>
      </div>
      <div class="form-group">
          <label for="inputMobile" class="col-sm-2 control-label">负责人手机号：</label>
          <div class="col-sm-10">
              <input type="text" class="form-control " id="inputMobile" name="mobile" placeholder="请输入负责人手机号">
              <div class="error-div"></div>
          </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">邮箱：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control " id="inputEmail" name="email" placeholder="请输入邮箱">
          <div class="error-div"></div>
        </div>
      </div>
      <div class="form-group">
          <label for="inputAddress" class="col-sm-2 control-label">地址：</label>
          <div class="col-sm-3">
              <input type="area" name="cityId" readonly class="form-control city_input"  id="area-select" area-id="0" value="" placeholder="省/市">
              <div class="error-div"></div>
          </div>
          <div class="col-sm-7">
              <input type="text" class="form-control " id="inputAddress" name="address" placeholder="请输入详细地址">
              <div class="error-div"></div>
          </div>
      </div>
      <div class="form-group">
          <label for="inputOfficeMobile" class="col-sm-2 control-label">律所联系电话：</label>
          <div class="col-sm-10">
              <input type="text" class="form-control " id="inputOfficeMobile" name="officeMobile" placeholder="请输入律所联系电话">
              <div class="error-div"></div>
          </div>
      </div>
      <div class="form-group">
          <label for="inputAdminPrincipal" class="col-sm-2 control-label">行政负责人：</label>
          <div class="col-sm-10">
              <input type="text" class="form-control " id="inputAdminPrincipal" name="adminPrincipal" placeholder="请输入行政负责人">
              <div class="error-div"></div>
          </div>
      </div>
      <div class="form-group">
          <label for="inputAdminMobile" class="col-sm-2 control-label">行政负责人电话：</label>
          <div class="col-sm-10">
              <input type="text" class="form-control " id="inputAdminMobile" name="adminMobile" placeholder="请输入行政负责人电话">
              <div class="error-div"></div>
          </div>
      </div>
      <div class="form-group">
        <label for="inputLicenseNo" class="col-sm-2 control-label">营业执证号：</label>
        <div class="col-sm-10">
          <input type="text" class="form-control " id="inputLicenseNo" rows="5" name="licenseNo" placeholder="请输入营业执证号">
          </input>
          <div class="error-div"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputIntroduction" class="col-sm-2 control-label">律所简介：</label>
        <div class="col-sm-10">
          <textarea  rows="4" class="form-control " id="inputIntroduction" name="introduction" placeholder="请输入律所简介"></textarea>
          <div class="error-div"></div>
        </div>
      </div>
      <div>
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <img src="dist/assets/image/lawyercenter_icon_information.png" alt="">
          <span class="font-gray">温馨提示：请依据图示上传营业执照，请勿涂改或打码，确保要素齐全，字迹清晰</span>
        </div>
      </div>
      <div class="clearfix"></div>
      <br>
      <div class="form-group">
        <label for="upload-text-businessUrl" class="col-sm-2 control-label">上传营业执照：</label>
        <div class="col-sm-10">
          <div class="col-sm-3 upload-btn upload-btn-businessUrl">
            <span class="fa fa-plus"></span>
          </div>
          <input type="text" id="upload-text-businessUrl" name="businessUrl">
          <input type="file" style="display: none" id="upload-file-businessUrl">
          <img src="" height="70" id="upload-show-businessUrl" data-remodal-target="imagePreview-modal">
          <div class="error-div"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="upload-text-zhiyezheng" class="col-sm-2 control-label">上传律师事务所执业许可证：</label>
        <div class="col-sm-10">
          <div class="col-sm-3 upload-btn upload-btn-zhiyezheng">
            <span class="fa fa-plus"></span>
          </div>
          <input type="text" id="upload-text-zhiyezheng" name="licenseUrl">
          <input type="file" style="display: none" id="upload-file-zhiyezheng">
          <img src="" height="70" id="upload-show-zhiyezheng" data-remodal-target="imagePreview-modal">
          <div class="error-div"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
          <p class="checkbox">
            <input type="checkbox" class="agreement-checkbox" id="agreement-checkbox"> 阅读并同意
              <span class="open-agreement" data-remodal-target="openAgreement-modal">《平台与律师事务所合作协议》</span>
          </p>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="footer">
        <div class="col-sm-2"></div><div class="primary-btn">提交</div>
      </div>
</script>
<script type="text/html" id="office-edit-template">
    <h3 class="title">基本资料</h3>
    <input type="hidden" name="id" value="{% officeId | convertNull %}">
    <div class="form-group">
        <label for="inputRealname" class="col-sm-2 control-label">律所名称：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputRealname" name="realname" placeholder="请输入律所名称" value="{% realname | convertNull %}">
            <div class="error-div"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPrincipal" class="col-sm-2 control-label">律所负责人：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control " id="inputPrincipal" name="principal" placeholder="请输入律所负责人" value="{% principal | convertNull %}">
            <div class="error-div"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputMobile" class="col-sm-2 control-label">负责人手机号：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control " id="inputMobile" name="mobile" placeholder="请输入负责人手机号" value="{% mobile | convertNull %}">
            <div class="error-div"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">邮箱：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control " id="inputEmail" name="email" placeholder="请输入邮箱" value="{% email | convertNull %}">
            <div class="error-div"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress" class="col-sm-2 control-label">地址：</label>
        <div class="col-sm-3">
            <input type="area" name="cityId" readonly class="form-control city_input"  id="area-select" area-id="0" value="" placeholder="省/市">
            <div class="error-div"></div>
        </div>
        <div class="col-sm-7">
            <input type="text" class="form-control " id="inputAddress" name="address" placeholder="请输入详细地址" value="{% address | convertNull %}">
            <div class="error-div"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputOfficeMobile" class="col-sm-2 control-label">律所联系电话：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control " id="inputOfficeMobile" name="officeMobile" placeholder="请输入律所联系电话" value="{% officeMobile | convertNull %}">
            <div class="error-div"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputAdminPrincipal" class="col-sm-2 control-label">行政负责人：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control " id="inputAdminPrincipal" name="adminPrincipal" placeholder="请输入行政负责人" value="{% adminPrincipal | convertNull %}">
            <div class="error-div"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputAdminMobile" class="col-sm-2 control-label">行政负责人：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control " id="inputAdminMobile" name="adminMobile" placeholder="请输入行政负责人" value="{% adminMobile | convertNull %}">
            <div class="error-div"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputLicenseNo" class="col-sm-2 control-label">营业执证号：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control " id="inputLicenseNo" rows="5" name="licenseNo" placeholder="请输入营业执证号" value="{% licenseNo | convertNull %}">
            </input>
            <div class="error-div"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputIntroduction" class="col-sm-2 control-label">律所简介：</label>
        <div class="col-sm-10">
            <textarea  rows="4" class="form-control " id="inputIntroduction" name="introduction" placeholder="请输入律所简介">{% introduction | convertNull %}</textarea>
            <div class="error-div"></div>
        </div>
    </div>
    <div>
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <img src="dist/assets/image/lawyercenter_icon_information.png" alt="">
            <span class="font-gray">温馨提示：请依据图示上传营业执照，请勿涂改或打码，确保要素齐全，字迹清晰</span>
        </div>
    </div>
    <div class="clearfix"></div>
    <br>
    <div class="form-group">
        <label for="upload-text-businessUrl" class="col-sm-2 control-label">上传营业执照：</label>
        <div class="col-sm-10">
            <div class="col-sm-3 upload-btn upload-btn-businessUrl">
                <span class="fa fa-plus"></span>
            </div>
            <input type="text" id="upload-text-businessUrl" name="businessUrl" value="{% businessUrl | convertNull %}">
            <input type="file" style="display: none" id="upload-file-businessUrl">
            <img src="{% businessUrl | convertNull %}" height="70" id="upload-show-businessUrl" data-remodal-target="imagePreview-modal">
            <div class="error-div"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="upload-text-zhiyezheng" class="col-sm-2 control-label">上传律所执业许可证：</label>
        <div class="col-sm-10">
            <div class="col-sm-3 upload-btn upload-btn-zhiyezheng">
                <span class="fa fa-plus"></span>
            </div>
            <input type="text" id="upload-text-zhiyezheng" name="licenseUrl" value="{% licenseUrl | convertNull %}">
            <input type="file" style="display: none" id="upload-file-zhiyezheng">
            <img src="{% licenseUrl | convertNull %}" height="70" id="upload-show-zhiyezheng" data-remodal-target="imagePreview-modal">
            <div class="error-div"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <p class="checkbox">
                <input type="checkbox" class="agreement-checkbox" id="agreement-checkbox"> 阅读并同意
                <span class="open-agreement" data-remodal-target="openAgreement-modal">《平台与律师事务所合作协议》</span>
            </p>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="footer">
        <div class="col-sm-2"></div><div class="primary-btn">提交</div>
    </div>
</script>
<script type="text/html" id="lawyer-read-template">
    <h3 class="title">基本资料</h3>
    <div class="form-group">
        <label for="inputRealname" class="col-sm-2 control-label">律所名称：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputRealname" value="{% realname | convertNull %}" readonly>
            <div class="error-div"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPrincipal" class="col-sm-2 control-label">律所负责人：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control " id="inputPrincipal" value="{% principal | convertNull %}" readonly>
            <div class="error-div"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputMobile" class="col-sm-2 control-label">负责人手机号：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control " id="inputMobile" value="{% mobile | convertNull %}" readonly>
            <div class="error-div"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">邮箱：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control " id="inputEmail" value="{% email | convertNull %}" readonly>
            <div class="error-div"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress" class="col-sm-2 control-label">地址：</label>
        <div class="col-sm-10">
            <input type="hidden" id="inputProvinceId" name="provinceId">
            <input type="hidden" id="inputCityId" name="cityId">
            <input type="text" class="form-control " id="inputAddress" value="{% address | convertNull %}" readonly>
            <div class="error-div"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputOfficeMobile" class="col-sm-2 control-label">律所联系电话：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control " id="inputOfficeMobile" value="{% officeMobile | convertNull %}" readonly>
            <div class="error-div"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputAdminPrincipal" class="col-sm-2 control-label">行政负责人：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control " id="inputAdminPrincipal" value="{% adminPrincipal | convertNull %}" readonly>
            <div class="error-div"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputAdminMobile" class="col-sm-2 control-label">行政负责人电话：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control " id="inputAdminMobile" value="{% adminMobile | convertNull %}" readonly>
            <div class="error-div"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputLicenseNo" class="col-sm-2 control-label">营业执证号：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control " id="inputLicenseNo" rows="5" value="{% licenseNo | convertNull %}" readonly>
            </input>
        </div>
    </div>
    <div class="form-group">
        <label for="inputIntroduction" class="col-sm-2 control-label">律所简介：</label>
        <div class="col-sm-10">
            <textarea  rows="4" class="form-control " id="inputIntroduction" readonly>{% introduction | convertNull %}</textarea>
        </div>
    </div>
    <div class="clearfix"></div>
    <br>
    <div class="form-group">
        <label for="upload-text-businessUrl" class="col-sm-2 control-label">上传营业执照：</label>
        <div class="col-sm-10">
            <img src="{% businessUrl | convertNull %}" height="70" id="upload-show-businessUrl" data-remodal-target="imagePreview-modal">
        </div>
    </div>
    <div class="form-group">
        <label for="upload-text-zhiyezheng" class="col-sm-2 control-label">上传律所执业许可证：</label>
        <div class="col-sm-10">
            <img src="{% licenseUrl | convertNull %}" height="70" id="upload-show-zhiyezheng" data-remodal-target="imagePreview-modal">
        </div>
    </div>
</script>

<script type="text/html" id="office-authprocess-template">
    <div class="center">
        <div class="step step-action">
          <span class="step-text">提交资料</span>
        </div>
        <div class="step {% if lawyerId %}step-action{% /if %}">
          <span class="step-text">等待审核</span>
        </div>
        <div class="step {% if lawyerId&&status==1 %}step-action{% else if lawyerId&&(status==0||status==-2) %}step-fail{% /if %}">
          <span class="step-text">
            {% if lawyerId&&status==1 %}
              审核通过
            {% else if lawyerId&&status==0 %}
              审核失效
            {% else if lawyerId&&status==-2 %}
              审核失败
            {% else %}
              审核通过
            {% /if %}
          </span>
        </div>
        <div class="step step-last {% if lawyerId&&status==1 %}step-action{% /if %}">
          <span class="step-text">完成认证</span>
        </div>
        <div class="clear"></div>
        </div>
</script>