<div class="clearfix officeCenter">
  <div class="title-bar">
    <img src="dist/assets/image/usercenter_bg.png" alt="" style="width: 100%;">
    <span class="page-title">律师助手</span>
  </div>
  <div class="container">
    <div class="col-sm-1"></div>

    {{ include '../~modal/lawyerNav/main'}}
    <div class="col-sm-8">
      <div class="content-container">
        <div class="page clearfix" id="lawyer-assistant">
          <div class="lawyer-assistant-content">
            <div class="search-page lawyer-assistant-page pageNow">
              <div class="titles">
                <h2>律师助手，身边的案例全书</h2>
                <h4>让办公更简单</h4>
              </div>
              <div class="searchbar clearfix">
                <div class="col-sm-9">
                  <input class="input" type="text"  id="top-keyword" placeholder="请输入搜索内容">
                  <span class="options-block-show">
                    选项
                    <i class="fa fa-chevron-down right-icon"></i>
                  </span>
                  </input>

                </div>
                <div class="col-sm-3">
                  <button class="primary-btn search-btn">搜索</button>
                </div>
              </div>
              <div class="search-options">
                <span>婚姻继承</span>
                <span>侵权纠纷</span>
                <span>交通事故</span>
                <span>工伤赔偿</span>
                <span>医疗纠纷</span>
                <span>债权债务</span>
                <span>劳动仲裁</span>
              </div>
              <div class="options-block clearfix">
                <!-- lawyer-assistant-template -->
                <div class="col-sm-9">
                  <form class="form-horizontal" id="assistant-form">
                    <div class="form-group">
                      <label for="name" class="col-sm-3 control-label">全文：</label>
                      <div class="col-sm-9">
                        <input type="resours" class="form-control" id="alltext" name="keyword" placeholder="请输入">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="defendant" class="col-sm-3 control-label">原告：</label>
                      <div class="col-sm-9">
                        <input type="area" class="form-control" id="appellors" name="appellors" placeholder="请输入">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="trialDateBegin" class="col-sm-3 control-label">裁判时间开始：</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control " name="trialDateBegin" id="starttime" >
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="trialDateEnd" class="col-sm-3 control-label">裁判时间结束：</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control " name="trialDateEnd" id="endtime" >
                      </div>
                    </div>
                    <div class="form-group">
                      <label  class="col-sm-3 control-label" id="resources" data-id="">案由：</label>
                      <div class="col-sm-9">
                          <div id="reasonslect" >
                              <span class="reaseontext form-control">全部</span>
                              <div class="error-div"></div>
                      <div  id="navbar-menu" style="display:none;">

                      </div>   
                 </div>
                      </div>
                    </div>
                  </form>
                  <div>
                    <h5>已添加搜索维度</h5>
                    <div class="added-options clearfix" id="addedOption">
                      <!-- lawyer-added-result-template -->
                    </div>
              
                  </div>
                </div>
                <div class="col-sm-3 aside-btns resource-options">
                   <!-- lawyer-assistant-result-template -->

                </div>
                
                <div class="footer-btns">
                  <span class="options-block-hide">
                    收起
                    <span class="fa fa-chevron-up right-icon"></span>
                  </span>
                  <button class="primary-btn" id="searchBtn">搜索</button>
                  <button class="ghost-border-btn">重置</button>
                </div>
              </div>
            </div>
            <div class="page-result" style="display:none;"> 
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <nav class="sidenav" data-sidenav>
                            <ul class="ultitle">
                                <li><span>所有类目</span></li>
                            </ul>
                            <ul class="sidenav-menu">
  
                            </ul>
                          </nav>
                    </div>
                    <div class="col-md-9 col-sm-8">
                        <div class="col-right">
                            <!-- <form id="keyword-form">
                                    <div class="form-group ">
                                            <div class="input-group">
                                                    <input type="text" name="keyword" class="form-control" id="searchbox" placeholder="请输入搜索内容">
                                                    <div class="input-group-addon" id="searchBtn">搜 索</div>
                                            </div>
                                    </div>
                            </form> -->
                            <p>共找到<span class="result-count"></span>条结果</p>
                             <!-- <div class="col-md-8 col-right">
                            <p>排序：<span class="sort-one active">法院层级</span> <span class="sort-two">裁判日期</span>  <span class="sort-three">审判程序</span></p>
                        </div> -->
                        </div>    
                        <div class="case-list-page">
                            <div class="case-list">
                              
                            </div>
                            <div class="page-row">
                                    <div class="pager pull-right">
                                     
                                    </div>
                              </div>
                         </div> 
                    </div>
                </div>
                
               
             </div>   
        </div>
            
            </div>
            <!-- <div class="visual-result-page  lawyer-assistant-page  clearfix">
              <div class="col-sm-6">
                <div class="chart-item">
                  <div class="chart-title">
                    案件路由
                  </div>
                  <div id="route-result" class="chart-content"></div>
                  <div class="chart-footer">
                    <span class="fa fa-bars"></span> 查看全部路由
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="chart-item">
                  <div class="chart-title">
                    引用法条
                  </div>
                  <div id="law-result" class="chart-content"></div>
                  <div class="chart-footer">
                    <span class="fa fa-bars"></span> 查看全部法条
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>

  <div class="col-sm-1"></div>
</div>
</div>

<script type="text/html" id="lawyer-added-template">
  {% each addedOptions  data%}
  <div id= {%data.value %} class="option-btn added-option col-md-1" data-name={% data.name %}> 
    <span class="fa fa-minus"></span>
  </div>
    <div class="form-group col-md-11">
      <label for="trialDateEnd" class="col-sm-3 control-label">{% data.name %}：</label>
      <div class="col-sm-9">
        {% if data.value == 'courtLevel'%}
        <select id="{%data.value %}1" class="form-control">
          <option value="最高法院">最高法院</option>
          <option value="高级法院">高级法院</option>
          <option value="中级法院">中级法院</option>
          <option value="基层法院">基层法院</option>
        </select>
        {% else if data.value == 'trialYear'%}
        <select id="{%data.value %}1" class="form-control">
        
          <option value="2018">2018</option>
          <option value="2017">2017</option>
          <option value="2016">2016</option>
          <option value="2015">2015</option>
          <option value="2014">2014</option>
          <option value="2013">2013</option>
          <option value="2012">2012</option>
          <option value="2011">2011</option>
          <option value="2010">2010</option>
          <option value="2009">2009</option>
          <option value="2008">2008</option>
        </select>
        {% else if data.value == 'docType' %}
        <select id="{%data.value %}1" class="form-control">
            <option value="决定书">决定书</option>
            <option value="判决书">判决书</option>
            <option value="裁定书">裁定书</option>
            <option value="调解书">调解书</option>
            <option value="调解书">调解书</option>
          </select>
          {% else if data.value == 'courtCityId' %}  
          <input type="area" name="courtCityId" class="form-control city_input"  id="area-select" area-id="0" value="全部" placeholder="地区">
          {% else %}
        <input type="text" class="form-control "   name="{%data.value %}" id="{%data.value %}1" >
          {% /if %}
      </div>
    </div>
  {% /each %}
</script>

<script type="text/html" id="lawyer-assistant-template">
  
  
    <h5>添加搜索维度</h5>
    {% each options  data%}
    <div id= {%data.value %}  class="option-btn topick-option" >
      <span class="fa fa-plus"></span>
      <span class={% data.value %}>
          {%data.name%}
      </span>
    </div>
    {% /each %}

 
</script>
<script type="text/html" id="lawyer-list-templete">
  {% each list das %}
  {% each das.caseVoList da %}
 <a class="case-hover" href="{% host %}id={% da.id %}&name={% da.lawyerName %}" target="_blank"><div class="case-list-box" >
          <div class="case-title">
              <div class="row">
                  <p class="title col-md-9 col-sm-8">{% da.title %}</p>
                  <p class="col-md-3 col-sm-4 tag"><span>{% da.caseType %}</span><span>{% da.trialRound %}</span><span>判决</span></p>
              </div>
              <p class="second-tag"><span>{% da.court %} </span><span>{% da.caseNo %}</span><span> {% da.trialDate | dateFormat 'yyyy'%}-{% da.trialDate | dateFormat 'MM'%}-{% da.trialDate | dateFormat 'dd'%} </span></p>
          </div>
              <P>【裁判理由】：</P>
              <P>{% da.reason %}</P>
          </div>
      </div></a>
  
      {% /each %}
      {% /each %}
</script>
<script type="text/html" id="lawyer-slider-templete">
  {% each list das %}
  {% each das.groupMenu da %}  
<li class="oneLevel">
     
      <a href="javascript:;" data-sidenav-dropdown-toggle class="active">
             <i class="material-icons">{% da.categoryName %}</i><span class="glyphicon glyphicon-menu-down"></span>
      </a>
      <ul class="sidenav-dropdown threelevel" data-sidenav-dropdown>
           
                  {% each da.sonCategoryList data %}  

                  <li><p class="slider-result"  data-id="{% data.sonCategoryQueryLogId %}"> <a href="{% hosts %}?caseQueryLogId={% data.sonCategoryQueryLogId %}" target="_blank">{% data.sonCategoryName %}</a></p></li>

                  {% /each %}   
                  </ul>
            
          
      </li>
     
      {% /each %}
      {% /each %}
</script> 
<script type="text/html" id="search-reason-templete">
  <ul class="reason-ul">
  {% each data da %}
 
  <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle first-val" data-toggle="dropdown" data-id="{% da.id %}" >{% da.name %} <span class="glyphicon glyphicon-menu-right"></span></a>
          {%  if da.children %} 
          
      <ul class="dropdown-menu secondul">
           <li class="lipostion">
              <ul>
                          {% each da.children val  %}
          
                          <li class="dropdown">

                          {%  if val.children %}    
                          <a href="javascript:;" class="dropdown-toggle second-val" parent-name="{% da.name  %}" data-id="{% val.id %}" data-toggle="dropdown" >{% val.name %}<span class="glyphicon glyphicon-menu-right"></span></a>
                          {% else %}
                          <a href="javascript:;" class="dropdown-toggle second-val" parent-name="{%  da.name  %}" data-id="{% val.id %}"   data-toggle="dropdown" >{% val.name %}</a>
                          {% /if %}

                          {%  if val.children %} 
                                  <ul class="dropdown-menu thirdul">        
                                          {% each val.children va  %}     
                                  <li>
                                          <a href="javascript:;" parent="{% da.name  %}" parent-name="{%  val.name %}" data-id="{% va.id %}"  class="last-val" >{% va.name %}</a>
                                          
                                  </li>
                                          {% /each %}
                                  
                                  </ul>
                          {% /if %}
                          </li>
                        
          
                   {% /each %}
                  </ul>
          </li>
           </ul>
          {% /if %}
      </li>

    {% /each %}            
  </ul>

</script>
<script type="text/html" id="lawyer-assistant-visual-result-template">
</script>