/*
* @Author: anchen
* @Date:   2017-06-13 14:52:52
* @Last Modified by:   anchen
* @Last Modified time: 2017-06-22 18:04:27
*/
#addedOption{

    .option-btn{
      margin:0!important;

  }
  .form-group{
    margin-top:3px;
    padding:0;
    label{
      padding-top:10px;
      padding-right:0;
    }
    .col-sm-9{
      padding:0;
    }
  }

}
.page-result{
 
  .col-right{
    p{
      span{
        color:#ed7a39;
        padding:0 5px;
        border:none;
        margin:0;
      }
    }
    span.active{
      background: #ed7a39;
      color:#fff;
      padding:5px 10px;
    }
    span{
      border:1px solid #ed7a39;
      margin:0 15px;
      padding:5px 10px;
      cursor: pointer;
      &:hover{
        background: #ed7a39;
        color:#fff;
      }
    }
    
    form{
      width:80%;
      input{
        height: 45px;
      }
      #searchBtn{
        color:#fff;
        background: #ed7a39;
        border-color:#ed7a39;
        cursor: pointer;
      }
    }
   
  }
  .case-hover{
    display:block;
    
  .case-list-box {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 25px;
    cursor: pointer;
   
    .case-title{
      p.title{
        font-size: 16px;
        font-weight: 600;
        margin-bottom:5px;
       
      }
      p.tag{
        text-align: right;
        span{
  
          color:#ed7a39;
          padding-right:15px;
        }
      }
      p.second-tag{
        font-size: 14px;
        span{
          color:#999;
          padding-right:20px;
        }
      }
    }
    &:hover{
      box-shadow: 0 0 10px rgba(197, 195, 195, 0.6);
      filter: progid:DXImageTransform.Microsoft.Shadow(color='rgba(197, 195, 195, 0.6)', Direction=135, Strength=10);/*for ie6,7,8*/ 
      -moz-box-shadow:0px 0px 10px rgba(197, 195, 195, 0.6);/*firefox*/ 
      -webkit-box-shadow:0px 0px 10px rgba(197, 195, 195, 0.6);/*webkit*/ 
      color:#333;
    }
  }
  
}
}
.sidenav{
  position: relative;
  transform:inherit;
  -webkit-transform:inherit;
  -webkit-transition:inherit;
  background: none;
  transition:-webkit-transform .3s;
  transition:transform .3s;
  transition: transform .3s,-webkit-transform .3s;
  .ultitle{
    li{
      background: #eceaea;
      span{
        display: block;
        padding:15px 20px;
        font-weight: 600;
        color:#333;
      
      }
    }
  }
  .sidenav-menu{
   
      li.oneLevel{
        margin-bottom: 5px;
        a{
          color:#333;
          background: #eceaea;
          display: block;
          padding:15px 20px;
          font-weight: 600;
          
        }
        span{
          padding-left:10px;
        }
        .sidenav-dropdown{
          li{
            background: none;
            a{
              background: none;
            }
          }
        }

        ul.threelevel{
          li{
            padding:10px 25px;
            p{
              font-weight: normal;
              cursor: pointer;
              a{
                padding:0;
              }
            }
          }
        }

    
    }
   
  }
}
#navbar-menu ul>li.dropdown>a{

  color:#333;
  display: block;
  padding:5px 15px;
  line-height: 28px;
}
#navbar-menu  ul > li > a:hover{
  background: #ed7a39;
  color:#fff;
 
}
ul.dropdown-menu.secondul {
  display: none;
  position: absolute;
  left: 170px;
  top: 0;
  margin:0;
  height: 198px;
  padding:7px 0;
}
ul.dropdown-menu.secondul li.lipostion a.dropdown-toggle{
  width:220px;
}

li.lipostion {
  position: relative;

}

ul.dropdown-menu.thirdul {
  display: none;
  left: 215px;
  height: 198px;
  overflow: auto;
  top: 0;
  margin:0;
  z-index: 9999;
}
ul.dropdown-menu.secondul li.lipostion ul li:hover ul,
#navbar-menu  ul > li.dropdown:hover > ul.dropdown-menu.secondul{
  display: block;
}
#navbar-menu ul.dropdown-menu.thirdul li a {
  color: #333;
}
#navbar-menu ul.dropdown-menu.thirdul li a:hover{
  color:#fff;
}

#navbar-menu ul>li>a>span {
  float: right;
  padding-top: 9px;
}
ul.dropdown-menu.secondul li.lipostion {
  height: 185px;
  overflow: auto;
}



div#reasonslect {
  position: relative;
}
#reasonslect span.reaseontext{
  display: block;

}

div#navbar-menu {
  position: absolute;
  top:33px;
  left: 0;
  width: 170px;
  background: #fff;
  padding:0;
  z-index: 999;
  .reason-ul{ 
    li{
      text-align: left;
      position: initial;
    }
  }
}



