
    <div id="top-banner">
        <img src="dist/assets/image/baout_banner.jpg" class="img-responsive" alt="法务贷申请流程">
    </div>

    <div class="service-sensing">
        <div class="container">
            <div class="main-title mt50 mb50">
                <div class="about-title-top"> 
                    <img src="dist/assets/image/about-title.png"  class="img-responsive"/>
                    <img src="dist/assets/image/about_logo.png" class="img-responsive"> 
                </div>
                
            </div>
            <div class="about-content clear">
                <p><strong>广东八鼎网络科技有限公司</strong>是一家运用互联网、大数据、人工智能等科技手段，专注于为社会公众、律师、
                    律师事务所及其他相关机构提供一体化智能解决方案及与法律智能服务相关的科技公司。
                    公司发起人是一批有着几十年法律从业经历的律师及精通互联网科技的工程师，随着社会的发展，科技的进步，
                    社会公众对法律需求发生了深刻的变化，运用大数据分析，通过人工智能等科技手段为社会公众提供更加精准、
                    更加个性化的服务已是大势所趋。同时，基于长期的法律从业工作实践，公司对律师行业几十年的痛点问题有切身的体会。
                    公司运用互联网科技手段，结合律师行业特点，开发了一套“8645宝”信息化办公平台系统。“8645宝”信息化办公系统实现了
                    PC端、手机端、当事人（客户）端、网站业务推介端及“中国裁判文书网”等外部数据信息端的全面整合，实现律师事务所、
                    律师办公的信息化、网络化及智能化；实现对社会公众律师推荐的个性化、精准化和智能化。立志以科技手段为中国的法治进程添砖加瓦，
                    为重构律师行业新生态贡献力量。</p>
                <p><strong>服务理念：诚信嬴得信任，专业获得认可</strong></p>
                <p><strong>核心职责：向有法律服务需求者推荐“最合适的律师”</strong></p>
            </div>
        </div>
    </div>

<!--contact us-->
    <div class="contact-content mb50">
        <div class="container">
            <div class="main-title mt50 mb50">
                <div class="about-title-top"> 
                    <img src="dist/assets/image/contact-title.png"  class="img-responsive"/> 
                 </div>
            </div>
            <div class="contact-main clear">
               <div class="main-box fls col-sm-12 col-md-12">
                    <img src="dist/assets/image/dong_map.jpg" class="img-responsive">
                    <div class="contact-text">
                        <p>公司地址：</p>
                        <p>广东省东莞市南城区元美路丰硕广场24楼2404号</p>
                        <p>联系电话：</p>
                        <p>0769-22800388</p>
                        <p>企业邮箱：</p>
                        <p>admin@8645bao.com</p>
                    </div>
               </div>
              
            </div>
        </div>
    </div>
